[2016-11-08 19:50] joaobrittoneto opened #2 "Sign of AddedCoriolisMatrix"
Hi,

I think Fossen puts a minus signal in [this Coriolis](https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_gazebo_plugins/uuv_gazebo_plugins/src/HydrodynamicModel.cc#L305) term, is that right?

[2016-11-09 09:08] musamarcusso commented on #2
Hi Joao, I'll take a look into it. Did you manage to run the package on your end?

[2016-11-09 12:41] joaobrittoneto commented on #2
I did not yet try it

[2016-11-10 13:07] joaobrittoneto opened #4 "link::GetRelativeLinearAccel"
I'd say the derivative of linear velocity in body frame is requested [here](https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_gazebo_plugins/uuv_gazebo_plugins/src/HydrodynamicModel.cc#L223).

Gazebo `link::GetRelativeLinearAccel()` does not provide that, once it doesn't include the coriolis and centripetal [terms](https://bitbucket.org/osrf/gazebo/commits/c99082dfee89d44ba463597e1d1c3

[2016-11-10 14:56] musamarcusso commented on #4
Do you suggest implementing that computation on this package? Or would it be the case to make a pull request to the Gazebo repository?

[2016-11-10 16:11] joaobrittoneto commented on #4
I think that having these method on gazebo would be the best option.
But until it go to gazebo's master, may be the case to do the computation in the package.

[2016-11-14 15:23] sebastianscherer commented on #4
Good catch! I guess GetRelativeLinearAccel does not do what we assumed it would. Would you like to create a pull request?

[2016-11-14 15:47] sebastianscherer commented on #2
Should be fixed with pull request #7

[2016-11-14 15:47] #2 closed

[2016-11-25 14:24] sebastianscherer commented on #4
We looked into this problem in a little bit more detail and put a more detailed description of the problem [here](https://raw.githubusercontent.com/wiki/uuvsimulator/uuv_simulator/files/CrossTerms.pdf)

Both #13 and #10 should fix this issue.

[2016-11-25 15:06] joaobrittoneto commented on #4
Nice description :+1:

[2016-11-28 10:16] #4 closed

[2017-03-06 09:03] musamarcusso opened #24 "Extend current simulation for 3D currents, not only planar."

[2017-03-06 09:05] musamarcusso opened #25 "Add floating particles and water turbity to the world scenario."

[2017-03-06 09:20] musamarcusso opened #26 "Realistic simulation of SBL"
Study how to improve the simulation of SBL in the simulation without relying solely on addition of white noise over the position.

[2017-03-07 12:56] musamarcusso opened #28 "Add AUV robot model and teleop launch files."

[2017-03-07 13:30] musamarcusso commented on #24
#29 Implementation of 3D current velocity and related services and topics.

[2017-03-22 16:14] #24 closed

[2017-04-05 20:36] musamarcusso commented on #28
https://github.com/uuvsimulator/uuv_simulator/tree/dev/romulus_auv

[2017-04-05 20:37] musamarcusso opened #35 "Add tutorial for construction of new AUV model"

[2017-05-02 10:14] musamarcusso opened #45 "Add joystick parser to the DP controllers in manual mode."

[2017-05-02 14:44] sebastianscherer opened #48 "Implement a more realistic sonar sensor simulation"
We currently abuse Gazebo's laser sensors and call it sonar.

A more realistic simulation of sonar sensors ([side-scan sonar](https://en.wikipedia.org/wiki/Side-scan_sonar) and [multibeam sonar](https://en.wikipedia.org/wiki/Multibeam_echosounder)) would add much value to uuv_simulator and make it more interesting for a larger new community.

[2017-05-25 06:58] hughhugh opened #59 "gazebo_gui-2 issue"
Hi, I have install the uuv simulator in Ubuntu 16.04 ROS kinetic using VMware following the wiki steps. I input the commands `roslaunch uuv_descriptions empty_underwater_world.launch` and got the following logs:
....
[ INFO] [1495694990.448495374, 0.022000000]: waitForService: Service [/gazebo/set_physics_properties] is now available.
[ INFO] [1495694990.594566214, 0.128000000]: Physics dynamic re

[2017-05-25 08:13] sebastianscherer commented on #59
Hi,

running Gazebo within a virtual machine can cause problems due to the 3D graphics.

Have you seen [this entry on Gazebo answers describing the same problem?](http://answers.gazebosim.org/question/13214/virtual-machine-not-launching-gazebo/) Maybe the solutions mentioned there can help you.

Best,
Sebastian

[2017-05-25 20:59] musamarcusso commented on #59
Hi,

one quick fix is to run the following in your terminal

export LIBGL_ALWAYS_SOFTWARE=1

Gazebo should stop crashing then, but the simulation can run much slower than on native Ubuntu. If I am not mistaken, VMWare should also have some drivers that should be installed as well.
Could you try this and give us a feedback?

Best,
Musa

[2017-05-25 21:12] musamarcusso commented on #59
There are some modules of Gazebo that might not run on the virtual machine, see

[2017-06-05 16:53] musamarcusso commented on #59
Hi, did you manage to solve your issue? If you did, can you send a message saying how you did it?

[2017-07-09 16:56] musamarcusso opened #71 "Implement the Gazebo sensor's method IsActive() for all sensor units"

[2017-07-11 16:36] musamarcusso opened #72 "Adapt Gazebo plugins to Gazebo versions >= 8"

[2017-07-12 17:14] luym11 opened #73 "Can't control ROV using joystick"
Hi!
I followed all the steps and successfully compiled all the packages. While trying:
[code]
I found that moving the joystick has no effect on the gazebo simulation.
I checked the joystick output and it's fine. I tried to do this:
`rostopic echo /rexrov1/cml vel`
nothing is publishing and I got the warning
`WARNING: no messages received and simulated time is active.`

Could you kindly advice what

[2017-07-12 17:23] luym11 commented on #73
Add one thing, if I directly publish to eg., geometry_msgs/Twist, the ROV will move as the command.

[2017-07-13 05:42] musamarcusso commented on #73
Hi, I will have a look at this later today when I get my joysticks to test. Could you run `jstest-gtk` and send me an image of the joysticks you get registered in the list?

[2017-07-13 05:49] luym11 commented on #73
Thanks a lot! I'll try to figure out it today, too. Here's the screenshot.

![joy](https://user-images.githubusercontent.com/6823040/28152216-07078fc8-67a8-11e7-9645-e5ab20e4062c.png)

And btw, are you guys doing any project using this uuv_simulator? (I'm trying to do a simulation for a research project now

[2017-07-13 18:54] atomoclast opened #74 "Can't launch custom actuated thruster actuated vehicle model after using wiki"
Hello,

I am trying to use this package, and I was following your wiki page on creating a new vehicle and launching it with UUV_Simulator here: https://github.com/uuvsimulator/uuv_simulator/wiki/Templates-to-create-a-new-thruster-actuated-vehicle-model

I'm currently having issues with trying to launch my vehicle. I'm getting this error:

```uuv_simulator/uuv_gazebo_plugins/uuv_gazebo_plugins/src/

[2017-07-13 19:36] sebastianscherer commented on #74
Hey, thanks for pointing this out!

You are right. It looks like there is a line missing in the tutorial snippets:

Within the `<plugin>` block of the thruster plugin, there should be a line:
`<thrusterID>${thruster_id}</thrusterID>`

We will fix it in the tutorials. In the meantime, could you check whether it works after adding this line?

If in doubt you can also have a look at the [code of our

[2017-07-13 19:45] atomoclast commented on #74
@sebastianscherer So I added the line in, and it launches. My model instantly sinks though. Based off of the volume and mass of the vehicle, it /should/ float. It does float in real life. Any idea what I'm getting that?

Also. When I launch it, I keep getting this arning message:

[code]

[2017-07-13 19:47] atomoclast commented on #74
I should state that I found the lines:

[code]

I have not gone trawling through all the code, but do you know what could be causing this exactly?

[2017-07-13 20:05] sebastianscherer commented on #74
We have these warnings still in there since we did sometimes experience the physics library exploding.

The two cases in which we ran into such problems were:
- Trying to use one or multiple manipulators on a vehicle in combination with a low simulation rate (<1000 Hz). Robust simulation of manipulators with Gazebo seems to require some tuning of the parameters.

- When simulating added masses tha

[2017-07-13 20:15] atomoclast commented on #74
@sebastianscherer That does actually. Considering the size of the example vehicle I'm trying to simulate...I think it's the second problem. The vehicle's mass is 6.123497kg in air, and we have a few example sensors on it. So. That may explain that.

[2017-07-13 21:15] atomoclast commented on #74
@sebastianscherer I have another question. I tried to launch the thruster manager as per the tutorial found here: https://github.com/uuvsimulator/uuv_simulator/wiki/Setup-up-of-thruster-manager-and-simple-velocity-controller-with-joystick-teleoperation-for-a-new-vehicle

I launch it with the `reset_tam:=true` argument, and it loads for a second, then it  quickly crashes and gives me the following

[2017-07-13 22:51] atomoclast opened #77 "<neutrally_buoyant> tag does nothing."
Hello,

I am trying to implement a vehicle in UUV Sim, and I am trying to just get my vehicle to float, and I even set the `<neutrally_buoyant>1</neutrally_buoyant>` tag as shown, but my vehicle keeps sinking the second it is uploaded. Is there any advice you can give to help get this vehicle floating neutrally or even positively buoyant?

[2017-07-14 12:58] musamarcusso commented on #77
Hi,

thanks for reporting, I'll check that. Meanwhile, you can have your vehicle positively buoyant if you set the `neutrally_buoyant` flag to zero and set the volume instead, like in the `rexrov` model https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_descriptions/models/rexrov/urdf/rexrov.gazebo.xacro#L32.
The volume is then used to compute the buoyancy force vector.

[2017-07-14 13:01] musamarcusso commented on #74
Hi, can you share your tf tree so we can check this comes from? The thruster ID fix has been merged.

[2017-07-14 13:17] musamarcusso commented on #73
Hi @luym11,
regarding the issue with the joystick, I just tested the controlling the ROV with my joystick here (XBox 360 Joystick) and it worked fine. I had a look on the model of the joystick that you are using and it can very well be that the mapping is different than the default mapping used for the XBox 360 being used per default by the teleop node.
There is a launch file for with a default jo

[2017-07-14 13:27] musamarcusso opened #78 "Update ROV model tutorial"
https://github.com/uuvsimulator/uuv_simulator/tree/master/uuv_tutorials/uuv_tutorial_rov_model

[2017-07-14 14:50] atomoclast commented on #77
Hello,

I tried to set the volume to be quite large. Not as large as the `rexrov`, and it was still sinking. I will try that and get back to you, but I tried to shift my volume up and my mass down to force it to float. I'll get back to you with results in a second though.

[2017-07-14 14:50] atomoclast commented on #74
@musamarcusso Attached I have my tf tree for the vehicle's robot description.
[frames.pdf](https://github.com/uuvsimulator/uuv_simulator/files/1148768/frames.pdf)

[2017-07-14 15:12] atomoclast commented on #77
So I set my volume to `3.1093918 m3` and my mass to `0.123497`, and my vehicle still sank. I may try to set it to exactly what you have the rexrov set for it's volume, and even set the `<box>` tag to what the `rexrov` had as well as it's hydrodynamic model. So I don't know where to check for an issue.

[2017-07-17 09:15] musamarcusso commented on #77
Did you set  `<neutrally_buoyant>0</neutrally_buoyant>`?

[2017-07-17 10:51] luym11 commented on #73
Hi Musa,

I bought a new joystick to test and it just arrived XD.
Yeah, it works with logitech joy launch file now. I guess the problem I previously have is that joy stick doesn't have a compatible configuration.

Thank you very much.

Yimeng

[2017-07-17 10:51] #73 closed

[2017-07-17 14:30] atomoclast commented on #77
@musamarcusso I tried setting `<neutrally_buoyant>` to `0` and `1`. No real change.

[2017-07-17 15:06] musamarcusso commented on #77
Hi @atomoclast, is this the vehicle your want to model?

http://www.videoray.com/images/specsheets/2016/2016_P4STANDARDBASE_FINAL.pdf

I will try to replace these parameters here to reproduce this.

[2017-07-17 15:07] atomoclast commented on #77
@musamarcusso Yes, this is the vehicle I'm trying to model.

[2017-07-17 15:11] atomoclast commented on #77
I have a mesh file if you need it.

[2017-07-17 19:49] atomoclast commented on #77
I just tried to launch a test box with what I understand is the buoyancy plugin and attempted it with both the `neutrally_buoyant` tag set to `0` as well as `1`, and the box still sank both times. It was also printing the `[Wrn] [UnderwaterObjectPlugin.cc:207] Relative angular acceleration is invalid -nan` error over and over.

I have both files below for you to review. Not sure what the issue is.

[2017-07-17 20:09] luym11 opened #80 "Problem while trying to control the robot to some waypoint"
Hi!

Firstly I have a world, a rov and a correspoding dp_controller running and I want to control the rov to a waypoint through terminal commands. I searched the topic list and the service list, found one service that I guess might help. So I tried
[code]
But it gave me error message as
`ERROR: service [/rexrov2/go_to] responded with an error: error processing request: global name 'i' is not defin

[2017-07-17 20:12] luym11 commented on #80
My codes attached, in case needed.
Thanks!

[multiagent_simulation.tar.gz](https://github.com/uuvsimulator/uuv_simulator/files/1153857/multiagent_simulation.tar.gz)

[2017-07-18 06:10] sebastianscherer commented on #80
Thanks for reporting this. I was able to reproduce the issue, the problem seems to be [line 168 in pathgenerator.py.](https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_control/uuv_trajectory_control/src/uuv_trajectory_generator/path_generator/path_generator.py#L168)

@musamarcusso can you take a look?

[2017-07-18 06:26] sebastianscherer commented on #77
As soon as you see the error `Relative angular acceleration is invalid` our UnderwaterObjectPlugin will not apply any forces or torques anymore, since this is a clear indicator of the physics engine is broken.

I had a look at your box definition:

`<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />`

This is the culprit. No rigid body should have [moments of inertia](https://en.wikipedia

[2017-07-18 08:39] musamarcusso commented on #80
Hi @luym11, I just made a pull request that includes a solution to this issue.
Regarding the waypoints, do you want to simply use a go_to command or do you want to send a list of waypoints?

[2017-07-18 09:05] sebastianscherer commented on #80
Seems fixed to me. @luym11 please let us know in case the problem persists.

[2017-07-18 09:05] #80 closed

[2017-07-18 09:16] luym11 commented on #80
Hi @musamarcusso , thank you for the response. What I want to do is to make it possible for a node to send a waypoint command to the robot. If the problem is fixed, I guess by calling go_to service in the node should do the job, right?
If you have other suggestions about how to do this( sending a waypoint or a list of waypoints), please let me know.
Thank you!

[2017-07-18 09:16] luym11 commented on #80
@sebastianscherer Thank you for the reply. I'll test in a minute and update the status to you.

[2017-07-18 10:37] musamarcusso commented on #80
Hi @luym11, I think so, you can use the go_to service to send one waypoint at a time. I still need to implement the service adding waypoints to the list also through service, not only using yaml files.

[2017-07-18 10:44] luym11 commented on #80
@musamarcusso Thank you! I'll start by using go_to service. If I develop something that can add waypoints during my project I'll let you know.

[2017-07-18 11:22] luym11 commented on #80
@sebastianscherer Confirmed. It works fine now. Thank you again!

[2017-07-18 15:16] atomoclast commented on #77
@sebastianscherer That makes perfect sense. I just used a basic ellipsoid to estimate my inertia for my vehicle, and it's floating now.

On to figuring out the Thruster plugin! I'm getting some issues there too.

In the gazebo terminal I see:
[code]
In the thruster terminal, I see:

[code]

[2017-07-18 15:22] atomoclast commented on #77
I just ran `rosrun tf view_frames` and this was the output. I see the TF tree show a transform between the base_link and the thruster...
[frames.pdf](https://github.com/uuvsimulator/uuv_simulator/files/1156349/frames.pdf)

[2017-07-18 15:54] musamarcusso commented on #77
The frames between world and the vehicle's base_link are generated by the `message_to_tf` node, which is part of the `hector_localization` package. The RexROV model's launch file example is this

https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_descriptions/models/rexrov/launch/upload_rexrov_default.launch#L31

How did you state this in the launch file?

[2017-07-18 16:10] atomoclast commented on #77
@musamarcusso As per the wiki tutorial, I called out the transform as follows:

[code]

It seems different than the line you called out above. I will try that now.

[2017-07-18 16:17] musamarcusso commented on #77
Can you try replacing the block you sent me by this
[code]
If this fix works, I will correct the tutorial right away.

[2017-07-18 17:24] atomoclast commented on #77
I tried to replace my block with your block, but it wouldn't work. Only way it worked was will both blocks called together.

[code]
Now I need to see why it can't get the TF from thruster 3.

[2017-07-18 20:52] atomoclast commented on #77
I'm able to launch my version of the `joy_velocity.launch`, but I'm un able to control the vehicle with my controller.

[2017-07-18 21:40] atomoclast commented on #77
I've been trying to debug things, and I'm comparing the outputs of the `rqt_graph` visualization of the nodes. These are the two networks I'm seeing. Not sure why it isn't working exactly.

![videoray2](https://user-images.githubusercontent.com/12075203/28341074-b8b4ce06-6bd7-11e7-8e88-9a76f1f997d4.png)
![rexrov](https://user-images.githubusercontent.com/12075203/28341078-bb510fee-6bd7-11e7-9144-d

[2017-07-19 06:59] musamarcusso commented on #77
Hi @atomoclast,

no, it is correct in the tutorial. The example in the tutorial is not a funcional example, that's why I put this [README.md](https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_tutorials/uuv_tutorial_rov_model/mesh/README.md) in the mesh folder, so this `prop_mesh_file` has to be edited by the person making the new vehicle model.
The `joy_velocity` is defined per default

[2017-07-19 17:06] atomoclast commented on #77
@musamarcusso I have uploaded the repo here: https://github.com/atomoclast/videoray_description/tree/feature/DEEP-291

[2017-07-20 23:06] atomoclast commented on #77
Hello @musamarcusso, have you had a chance to look through this repo yet?

[2017-07-21 07:34] musamarcusso commented on #77
Yes, I cloned it. I will give a feedback later today.

[2017-08-14 20:05] atomoclast opened #96 "Fossen Added Mass Matrix Questions"
Hello!

I'm back with more questions! In the tutorials and the REXROV example, I see this Fossen added mass matrix. I was keeping it all Zeros for a long while, but now I'm trying to model this matrix via a simple use of a simple geometric approximation xacro macro, and it's outputting the following added mass matrix:

`1.87 0 0 0 0 0
0 183.1 0 0 0 0
0 0 183.1 0 0 0
0 0 0 0 0 0
0 0 0 0 45.7
0 0 0

[2017-08-15 07:11] musamarcusso commented on #96
Hi @atomoclast, are you using the model with the changes I sent you? I will then test it here to see if I get the same error.

[2017-08-15 13:50] atomoclast commented on #96
Hello @musamarcusso, thank you for always replying quickly. I am not using the Videoray Pro4 right now, I was trying to model a custom vehicle. I can try with the Pro4 and see if it changes anything.

[2017-08-15 13:56] atomoclast commented on #96
I just tested it with the Videoray Pro4 model we were working on and got:
[code]

[2017-08-18 11:42] jlack1987 opened #98 "Directories being linked to cmake targets"
When building uuv sim I get a number of the following warnings,
[code]
Looks like there are include directories being linked to cmake targets which isn't allowed and cmake is just ignoring them.

[2017-08-18 11:43] musamarcusso commented on #98
Hi @jlack1987, could you send the whole output you get when trying to compile?

[2017-08-18 11:57] jlack1987 commented on #98
That's pretty much all there is as far as `uuv sim` cmake warnings go

[2017-08-18 13:17] musamarcusso commented on #98
Did you follow the installation instructions on the wiki https://github.com/uuvsimulator/uuv_simulator/wiki ?

[2017-08-18 17:29] jlack1987 commented on #98
No didn't follow those instructions, but I know how to build it all. The problem is lines like [this](https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_world_plugins/uuv_world_plugins/CMakeLists.txt#L44).

You can't link include directories with a cmake target which is why cmake throws a warning on those lines and tells you it's going to ignore them.

[2017-08-21 07:37] musamarcusso commented on #98
Hi @jlack1987, I made some corrections to the cmake files, could you check if you still get the same output when compiling the workspace?

[2017-08-21 12:13] ali94wadi opened #102 "Problem with creating custom vehicel"
Hello
When attempting to launch the newly created vehicle model I get the following:

Invalid <param> tag: Cannot load command parameter [robot_description]: command [/opt/ros/kinetic/lib/xacro/xacro --inorder '/home/ros/catkin_ws/src/auv/models/rov_example/robots/rov_example_default.xacro' debug:=0 namespace:=rov_example] returned with code [1].

The traceback for the exception was written to the

[2017-08-21 14:41] jlack1987 commented on #98
Yep looks like that did it. Thanks!

[2017-08-21 14:41] #98 closed

[2017-08-29 08:17] lurido commented on #96
Hi @atomoclast, the values you are using for your added mass seem to be very large. Could you try de-escalating in your added mass matrix your 'yy' and 'zz' linear terms by one order of magnitude, and the angular terms by one or even two orders of magnitude?

[2017-08-30 20:09] jlack1987 opened #106 "Drag force implementation question"
I have a question regarding the implementation of the drag model. Based on the comments and variable names and such it looks to me like a quadratic drag model is implemented, but looking through the code I don't see where the velocity is being squared. The method i'm focusing on is pasted below.

[code]

I'm unable to find the `Antonelli 2014` publication that's referred to in the comment(send a l

[2017-08-31 06:48] lurido commented on #106
Hi @jlack1987,

The reference you asked for details is the book "Underwater Robots" (2014), from Gianluca Antonelli and published by Springer.

In the situation you described, when DLin and DlinForwardSpeed are both zero, notice that you will have DNonLin multiplied by the absolute value of the velocities vector. Here we are composing only the D matrix, which will be later on multiplied by velocit

[2017-08-31 06:51] musamarcusso commented on #106
Hi @jlack1987,

the matrix is built in the ComputeDampingMatrix function but then it is multiplied by the velocity again here

https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_gazebo_plugins/uuv_gazebo_plugins/src/HydrodynamicModel.cc#L340

[2017-08-31 10:42] jlack1987 commented on #106
ah ok now I see! Thanks for the clearification!

[2017-08-31 10:42] #106 closed

[2017-08-31 10:43] musamarcusso commented on #106
Glad that that was cleared out. If you find any other parts of the code that might not look correct, please let us know.

[2017-09-15 04:25] tve opened #108 "Q: water surface modeling?"
Question, is there anything in the uuv simulator that models the water surface, such as waves? (And if not, how do get the nice surface animation in the wind farm video?)

[2017-09-15 05:41] sebastianscherer commented on #108
Hi, there is currently no physical simulation of the water surface or waves. This would be a great feature to add but we currently do not have the capacity to work on that. If there is anything willing to work on that, please let us know.

The waves you might have seen on videos or screenshots are pure visual effects and implemented using [these shaders ](https://github.com/uuvsimulator/uuv_simula

[2017-09-15 05:48] tve commented on #108
Ah, thanks for the reply. I'm working on implementing https://www.gamasutra.com/view/news/237528/Water_interaction_model_for_boats_in_video_games.php as a world plugin (gazebo). One issue I'm going to face (I'm not quite that far yet...) is how to represent the moving waves. Right now I'm using a height map, which gives me non-moving waves. That fine for lots of simulations (even though it's weird

[2017-09-15 07:18] musamarcusso commented on #108
Yes, that can be done. One way would be to have a shader that implements a JONSWAP or Pierson-Moskowitz model and generates the waves for the visualization and one Gazebo plugin that does a similar thing for the models.
The issue that I see is that these two modules are separated in Gazebo (if you run the simulation with the shader @sebastianscherer said and pause, the waves will still run). Apart

[2017-09-15 07:26] musamarcusso commented on #108
By the way, to start an empty scenario with the waves, you have to run

[code]

[2017-09-17 21:15] tve commented on #108
Thanks for the comments. I have the physics described in my initial post implemented, but not yet tuned. So far it looks pretty convincing for a very first cut. I think I need to make some more progress on flat water before it makes too much sense to look at waves.

What I have is a world plugin that references the water surface model, and boat models. E.g.:
[code]
It assumes that the water model

[2017-09-20 12:24] sebastianscherer commented on #108
That video looks quite cool already!

We tried to separate all plugins so there is a non-ROS part and a ROS-plugin that is derived from the pure Gazebo plugin. We so far did not use the Gazebo plugins on their own and it could take some work to get them running without roslaunch etc.

I think it would make sense to integrate this into uuv_simulator and I would be willing to assist with integration

[2017-09-20 14:38] musamarcusso commented on #108
Just one more thing. If you want to change the waves from the world that you launch with

[code]

you can set different parameters in this materials file here

https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_descriptions/Media/materials/scripts/waves.material#L16

The amplitude is set very low, for instance, but you can put other amplitudes and frequencies to see it working.

[2017-09-20 15:20] tve commented on #108
Thanks for the feedback, Right now I'm trying to get a simple 3D boat model together. Not having experience with that stuff it's gonna take some time...

[2017-09-20 15:25] musamarcusso commented on #108
You can use this one if you want

https://github.com/uuvsimulator/uuv_simulator/tree/master/uuv_descriptions/world_models/aurora_static

it is static (only used as a kind of marker), but you can modify it into a robot model. And there is also the model for the Kingfisher that you can get here https://github.com/kf/kingfisher. This last one uses the usv_gazebo_plugins from this repository https://g

[2017-09-20 15:43] musamarcusso commented on #102
HI, sorry to respond so late.
It looks like you have some hidden character that is messing up with the file. If you are still having this problem, you can look into this https://stackoverflow.com/questions/16346914/python-3-2-unicodeencodeerror-charmap-codec-cant-encode-character-u2013-i
Best,
Musa

[2017-09-20 18:00] jlack1987 opened #117 "Sensor macros create non-fixed joints"
I have noticed in some of the xacro macros for defining sensors(e.g. imu's), the sensor link is attached by a revolute joint with min/max positions being 0. I feel like this should just be a fixed joint right? Is there any reason why it's attached using a revolute joint instead of fixed?

[2017-09-21 06:43] musamarcusso commented on #117
Yes, there is. The URDF parser is still a little outdated. You can setup fixed joints, but what will happen is that in Gazebo the links connected through a fixed joint will be "merged" in a way, meaning that they are not going to be described by two separate frames and can lead to a number of issues depending on what you want to do.

[2017-09-26 15:01] #117 closed

[2017-09-26 15:05] jlack1987 commented on #96
Hi @lurido, based on the provided formulas in `common.urdf.xacro` from `uuv_descriptions` I don't think they are very large right? In comparison to the rigid body inertia values yeah they are enormous, but if you are approximating the added inertia matrix for your vehicle from a cylinder the following formula is what is provided,
[code]

[2017-09-26 15:32] jlack1987 opened #120 "Possible sign error with added mass coriolis term"
Is it possible that the added mass coriolis term calculated in `HydrodynamicModel.cc` has an incorrect sign? I see the equation in your reference that you're following, and it seems correctly calculated in the `ComputeAddedCoriolisMatrix` function, but then the total coriolis forces are computed via `Eigen::Vector6d cor = -this->Ca * velRel` and are negated.

My other point of reference can be fou

[2017-09-26 18:25] jlack1987 commented on #96
It looks like there's some instability in the `added_mass` term, i'm guessing it has to deal with the way you're differentiating the joint velocities to get the accelerations. I changed the added mass matrix to identity and it took longer but it still eventually went unstable.

[2017-09-26 18:52] jlack1987 commented on #120
Hmm i'm starting to second guess now..

[2017-09-26 20:29] musamarcusso commented on #96
I will take a look into this issue.
Meanwhile, have you tried implementing the model with the parameters presented in this [thesis](https://brage.bibsys.no/xmlui/handle/11250/2402215)?

[2017-09-26 20:42] jlack1987 commented on #120
Ok sorry to bother. I believe the signs are correct!

[2017-09-26 20:42] #120 closed

[2017-09-27 06:32] musamarcusso commented on #120
No worries, I was also checking here to be sure :)

[2017-09-27 13:29] jlack1987 commented on #96
I have not tried that no. I am able to make things stable now with the identity matrix for added mass matrix, but i'm interested in understanding why sometimes it can go unstable with the parameters we were using. I do see the accelerations that are used in the calculation are gotten from differentiating velocity which isn't ideal and is likely the culprit? Based on the comments in the code it loo

[2017-09-27 13:53] musamarcusso commented on #96
Yes, unfortunately that's the solution for now. We tried for a long time to understand why the accelerations were so high when being computed in the Gazebo API, but until now we couldn't find another solution. If you compare what outputs from the Gazebo API and the numerical computation of the accelerations, Gazebo delivered values even 10 times higher. This was especially bad in the case of slend

[2017-09-27 14:02] jlack1987 commented on #96
Bummer but yeah I understand the difficulties that sometimes come with the gazebo API. Aside from that which is outside your control i'm super impressed with how well `uuv_sim` works and it seems well written!

Yes I'm working with @atomoclast and the same model. Ultimately it's just a Videoray model where we used the added mass xacro macro that calculates the added mass matrix from a cylinder giv

[2017-09-28 04:28] kdkalvik opened #121 "ned_joint rpy value?"
I am trying to make use the thruster plugin for a ROV and I am not sure why the ned_joint in urdf/rov_example_base.xacro from the temple to create a new thruster ... has ${pi} as the value for roll? And is there a separate forum/chat room to ask questions about the plugins?

[2017-09-28 07:40] musamarcusso commented on #121
Hi @kdkalvik, I was just working on this right now. I merged some changes and added a script that can generate update template files for a new robot description so you don't have to copy all the files from the tutorial. If you get the latest version from the `master` branch, you can go to you `src` folder from the catkin workspace you are working on and run

`rosrun uuv_assistants create_new_robot

[2017-09-28 07:53] kdkalvik commented on #121
perfect thanks!!

[2017-09-28 07:53] #121 closed

[2017-09-29 13:58] jlack1987 opened #126 "Possible error in buoyancy force implementation"
In trying to do dynamics compensation control I think I have found a problem with the buoyancy implementation. For example(model is not a surface vessel) looking first at this block in `BuoyantObject.cc`
[code]
Where the buoyancy force is correctly computed as `vol*density*g`. This is the buoyancy force in world frame though, not in body frame because gravity is in world frame. This force then get

[2017-09-29 14:16] sebastianscherer commented on #126
Hi,

the naming of these functions in Gazebo is rather unfortunate and [frequently seems to confuse people](http://answers.gazebosim.org/question/16968/confused-with-addlinkforce/) I remember also having similar doubts given the name of this function. But AddForceAtRelativePosition in fact expects the force to be provided wrt a world frame. Only the position at which the force should be applied is

[2017-09-29 14:44] jlack1987 commented on #126
Oh I see, thanks for that link. Based on that documentation(pasted below) it looks like the "RelativePosition" is relative to the links center of mass,
[code]
So i'm guessing this means that uuv_sim expects the center of buoyancy(i.e. the coords in the `<center_of_buoyancy>` tags) then to be relative to the center of mass then, is that correct?

[2017-10-01 19:19] jlack1987 commented on #126
Ok based on my experiments with compensating for the dynamics with control yeah it looks like uuvsim expects the specified center of buoyancy to be w.r.t the body's center of mass. Do you think you could add this into the documentation? I think the intuitive approach(at least to me) is to specify the center of buoyancy w.r.t the body frame, so I think it would be really helpful to clearify in the

[2017-10-01 19:19] #126 closed

[2017-10-02 15:42] jlack1987 opened #128 "Documentation not clear that center of buoyancy needs to be specified relative to link center of mass"
See discussion [here](https://github.com/uuvsimulator/uuv_simulator/issues/126)

[2017-10-26 10:38] musamarcusso commented on #128
Hi @jlack1987,
I've been working in a new documentation page for the package and added the information you mentioned here https://uuvsimulator.github.io/tutorials/create_new_vehicle.html.
Let me know if this is clear enough, then I will close this issue.
Best,
Musa

[2017-10-26 10:40] musamarcusso commented on #102
Hi @ali94wadi,
I updated the tutorial on how to create a new vehicle
https://uuvsimulator.github.io/tutorials/create_new_vehicle.html
Let me know if this helps to solve your problem, so that I can close this issue.
Best,
Musa

[2017-10-26 11:24] #78 closed

[2017-10-26 11:24] #71 closed

[2017-10-26 16:40] jlack1987 commented on #128
Looks great, thanks for clearifying in the docs!

[2017-10-26 16:40] #128 closed

[2017-10-27 21:12] ali94wadi commented on #102
Thanks for the update
I had attempted to look at encoding, with no positive results
I shall look at the new tutorials very soon, and hopefully close this issue thread

[2017-11-07 15:24] jlack1987 opened #154 "Thruster axis requirement"
Is it a requirement that all thrusters rotate about the x-axis? Looking at the code I believe that is true, but I don't see anywhere in the docs where it says it's a requirement.

[2017-11-08 17:12] jlack1987 commented on #154
The line that makes me think it's hard coded to be the x-axis is the following,
[code]
in `ThrusterPlugin.cc`. I think I can make this more generic where it uses the actual axis to come up with what axis the thrust force should be applied. It would look something like,
[code]
Let me know if you're interested in making this work for thrusters that rotate about axes other than the x-axis and I can m

[2017-11-09 16:16] swordsgnat opened #155 "Thruster_id error when trying to reset simulation"
Hi,

I'm trying to run reinforcement learning with a UUV, having it "learn" how to use its thrusters to follow a path. As much, my code is set up to reset the Gazebo simulation periodically (when the UUV does too poorly). My problem is, even on the very first reset, before anything is really happened, I get an error I don't know how to handle.

I'm calling Gazebo's reset_simulation method in the l

[2017-11-09 16:26] musamarcusso commented on #154
Hi @jlack1987,

sorry for the delay on answering your question. It is something we hard coded mostly to make our work easier. The rotation axis for the thruster could be set as configurable, but I have to check in the Thruster Manager where changes would be necessary in order to make this work, otherwise the computation and use of the thruster allocation matrix will not work as it is now.
I'll loo

[2017-11-09 16:34] musamarcusso commented on #155
Hi @swordsgnat,

actually I had the exact same problems reseting the simulation on my end. I actually at some point gave up on trying to do it. What I did instead was making a simulation wrapper that starts the simulation and then ends it completely at each iteration (I was running some optimization methods where the cost function used the simulation to compute the vehicle's dynamics).

The wrappe

[2017-11-09 16:46] swordsgnat commented on #155
Hi @musamarcusso,

Yeah, that sounds like it would be very helpful - if it wouldn't be too much trouble a tutorial on it would be awesome (I'm still pretty new to all this) - thank you kindly for offering!

[2017-11-09 17:18] jlack1987 commented on #154
Yeah no problem, if I may be able to help, it's possible in for the python stuff it'll be fixable by simply modifying this chunk in `thruster.py`
[code]
where ```[1,0,0,0]``` would change depending on what axis the thruster rotates about. There are a few ways that info could be gotten, either by adding another(perhaps optional) element to the urdf where you can specify the thruster axis that defau

[2017-11-10 06:47] musamarcusso commented on #154
The joint axis can be read from Gazebo's joint structure, that would be not a big issue. For the thruster manager it could be given in the YAML file, but I would think it can be a little better if this information can be read from the URDF file directly using the URDF Python class and the `robot_description` from the parameter server. It is already used in the manipulator kinematics interface, may

[2017-11-11 14:06] patrickelectric opened #157 "Not working with lunar"
The install need to be update to work with lunar.
[code]

[2017-11-11 19:09] jlack1987 commented on #154
Coding it up and it looks like we shouldn't use `urdfdom-py` to parse robot_description bc it throws exception if there are any xml tags that are not in the URDF schema which is actually a really common thing. I can use etree. We have added some ```<hydro>``` tags for the hydrodynamics stuff and it barfs on those. I can just use the `lxml` module and parse it out manually.

[2017-11-12 17:53] jlack1987 commented on #154
Went ahead fixed it in a [PR](https://github.com/uuvsimulator/uuv_simulator/pull/159).

[2017-11-13 16:03] swordsgnat commented on #157
I mean, the documentation only has support listed for Indigo and Kinetic, and even ROS recommends using Kinetic in general... is there some reason you have to use Lunar?

[2017-11-13 16:08] musamarcusso commented on #157
Hi @patrickelectric,

yes, we still haven't done anything specific for lunar, mostly because the project we are in still uses mostly Kinetic, but this error looks more like paths were not updated after the catkin workspace was built. Did you source the setup.sh file in the devel folder before trying to run this launch file?

[2017-11-15 16:15] swordsgnat commented on #155
No rush at all, but were you gonna put up a tutorial on this?

[2017-11-15 16:16] musamarcusso commented on #155
Yes, I am working on it. There are some other things I'm also working on in parallel here, that's why it is taking a little while, but I will push the documentation with this tutorial until Friday.

[2017-11-16 21:46] musamarcusso commented on #157
Hi @patrickelectric,

could it be that your catkin workspace is trying to source the `install` folder? If you have no problem not sourcing the `install` folder, you can try running the following

[code]

and then rebuild the workspace

[code]

[2017-11-16 23:56] patrickelectric commented on #157
ty @musamarcusso, now I have a different error..
[Link.](http://answers.gazebosim.org/question/17841/gre-erroritemidentityexception-resource-with-the-name-console-already-exists/)

[2017-11-17 07:02] musamarcusso commented on #157
I think the link you sent is broken. Could you copy the error message here?

[2017-11-17 10:42] patrickelectric commented on #157
Sorry, the link still need approval of admin.
[code]

[2017-11-20 17:18] musamarcusso commented on #155
Hi @swordsgnat,

sorry for the delay. I merged the code and launch files for the example showing the wrapper's functionality. You can check them here

https://github.com/uuvsimulator/uuv_simulator/tree/master/uuv_tutorials/uuv_tutorial_simulation_runner

and you can try it out by running

[code]

I'll work on the tutorial page in the documentation now to explain everything. Meanwhile you can check

[2017-11-20 20:09] swordsgnat commented on #155
No problem! Thank you!

[2017-11-20 20:09] #155 closed

[2017-11-22 18:42] ali94wadi commented on #102
I have readapted one of the models available to my needs, and for the time being, I shall close this issue thread

[2017-11-22 18:42] #102 closed

[2017-12-07 21:30] swordsgnat opened #164 "Underwater communication between ROVs"
Hi! I'm working on modelling multiple robots simultaneously and want to also be able to model their communication in a somewhat realistic way. I think this project was designed to model multiple-ROV systems, so I figure it probably had to tackle model underwater communication as well. If I'm right, could I ask what kind of sensors / models did it use to do so, and how they're used?

[2017-12-12 12:45] narcispr opened #165 "Coordinate system"
Hi, I'm new to uuv_simulator. I was previously using [UWSim](http://www.irs.uji.es/uwsim/). UUV simulator looks very nice but I've a question: In underwater robotics we normally use North, East, Down (NED) coordinate system while Gazebo and uuv_simulator use Z up. Is there a way to change that?
Thank you!

[2017-12-14 21:12] duwke opened #166 "Gazebo 7.9 and OpenCV"
The Getting Started instructions "Using UUV Simulator with ROS Kinetic and Gazebo 7" seem to have a couple of issues, and we have narrowed them down to problems with Gazebo 7.9 and OpenCV.  First, to get uuv_simulator to build, we had to make the changes as described here:

https://github.com/ros-perception/vision_opencv/issues/193
https://github.com/opencv/opencv/pull/10299

We updated the opencv

[2017-12-14 22:15] musamarcusso commented on #165
Hi @narcispr,
actually Gazebo does not accept any other standard other than ENU. In the necessary plugins we have to perform the transformation when necessary. Do you have something specific that you want to represent in NED?

[2017-12-14 22:18] musamarcusso commented on #166
Hi @duwke,
I actually had similar things happening yesterday while helping a colleague install the simulation. I am not at the office at the moment, but I will have a closer look into it as soon as I can.

[2017-12-14 22:22] musamarcusso commented on #166
Short question: did you source the `devel/setup.bash` after compilation? Log files would also be great to understand the problem :)

[2017-12-15 14:36] narcispr commented on #165
Hi @musamarcusso, in general in underwater robotics NED is always used instead of ENU. I'm trying to simulate a new AUV ([Girona500](http://cirs.udg.edu/auvs-technology/auvs/girona-500-auv/)) but my idea is to use uuv_simulator to simulate the environment, the AUV dynamics and the sensors but the current AUV architecture [COLA2](https://bitbucket.org/udg_cirs/cola2_core/wiki/Home) for the rest. Fo

[2017-12-15 17:15] duwke commented on #166
What logs would you like?  I built 7.8.1, so I'll need to get back to 7.9

[2017-12-15 23:01] musamarcusso commented on #165
Hi @narcispr, yes, I am aware that NED is used in underwater robotics. We had for a long time see what we could do best here to change and where it would be possible to change because we also used some ROS packages for other purposes with which NED was not compatible. I can check how to make the changes you proposed, I will give you a feedback to you on that soon.

[2017-12-18 16:21] musamarcusso commented on #166
I am still looking into the OpenCV issue, but if you could send log files on failing to launch RexROV that would be great. I made a pull request #167 to avoid having the build crash because of the dependency of the camera plugins with OpenCV, but I am still looking into the issue with Gazebo as well.

[2017-12-18 16:25] musamarcusso commented on #165
I have been trying to list all the spots in the package where it could be nice to have the change to NED, but I think it would be better to have both options (NED or ENU). I say that because of the issue that ROS packages might not recognize it, so I would add an option to the plugins and ROS nodes to use one or the other.
This is a problem that I have been trying to figure out for a long time, bu

[2017-12-18 16:54] #72 closed

[2017-12-18 16:54] #45 closed

[2017-12-18 17:05] #28 closed

[2017-12-19 09:51] narcispr commented on #165
It will be great to be able to configure uuv_simulator to work in ENU or NED. I've participated in several european projects working with underwater vehicles and ROS, and all the groups use NED (IST, UJI, UIB, UdG, Atlass, CMRE, IFREMER, CNR, HWU, ...). The underwater community is quite big but not very visible, you know, we are underwater :)

About other ROS packages, we have never found any prob

[2017-12-19 09:56] musamarcusso commented on #165
Did you do some extra change in Gazebo to use NED seamlessly as well, in case you used Gazebo? In ROS I can see that is quite simple to configure.
As far as I understand, there is an extra NED TF and all frames are transformed related to that frame instead of the usual `world` frame, correct?

[2017-12-19 10:10] musamarcusso commented on #165
I ask because I want to see if I have to switch to NED at the input of nodes such as the thruster manager, but not when generating the TAM, since the thrust forces need to be transformed back to ENU to be applied on the Gazebo vehicle model.
For the ROS nodes I can see your point, the controller interfaces have internally this transformation to and from NED already.
I have seen other projects, but

[2017-12-19 14:40] narcispr commented on #165
I never worked with Gazebo before. For Rviz we do what you say: create an extra NED TF and transform all frames to that frame instead of the usual world frame.
To use the current uuv_simulator what I did was only transform the  navigation sensor measurements. I didn't touch the force applied to the AUV.
I don't know if someone has managed to make NED on Gazebo, however, for what I see in http://ga

[2017-12-19 14:47] musamarcusso commented on #165
For the sensors it can be managed, but when applying forces and torques in Gazebo it is necessary to use Gazebo's functions that only understands either the world frame (ENU) or the body frame. Also the vehicle state that is read from Gazebo would have to be transformed as well.
I tried before to add a virtual NED frame to the vehicle, but it didn't work so well. Maybe I'll start adding the option

[2017-12-19 15:17] musamarcusso commented on #165
Since this is quite an extensive change, I'll try to separate the task in smaller ones to make sure the whole package doesn't break. I'll get back to you about this, I have just to see where the changes are most needed to start with a few modules.

[2017-12-19 23:46] clydemcqueen commented on #165
Hi, this ROS standard might prove helpful: http://www.ros.org/reps/rep-0103.html. The standard suggests using a "_ned" suffix for NED frames.

[2017-12-21 07:18] gaobo9109 opened #174 "ASV simulation using uuv_simulator"
Hi, I am trying to build a simulator for WAM-V using this package. Since WAM-V is a surface vessel, I tried to adjust the parameters for mass, volumn, fluid density in the underwater_object_ros_plugin, so that the model can float on the surface of the water. However, no matter how I adjust the parameters, the WAM-V model is always partially submerged.

![151384097065863](https://user-images.github

[2017-12-21 09:14] narcispr commented on #165
Thank you @musamarcusso! I think that having at least the sensors will be a great improvement. Forces are mostly given in body frame isn't it? Whenever you have something to be tested let me know!

[2017-12-21 10:27] musamarcusso commented on #174
Hi @gaobo9109,
the parameter structure for the plugin you are using is thought to be for the underwater vehicles. There is a script that you can use to generate the robot description package for a new vehicle, you can check this [here](https://uuvsimulator.github.io/tutorials/create_new_vehicle.html).
For surface vessels there is the option to add these parameters

[code]

so that the buoyancy for

[2017-12-21 21:47] musamarcusso commented on #157
Hi @patrickelectric,

I don't know if you are still having issues, but I updated the configuration for Travis CI in #176 to build the simulator with ROS Lunar, after adding two packages that are still not available for Lunar, it is at least compiling:

[code]

[2017-12-23 06:45] sagarwal-atg opened #177 "State space controls"
Hi,

I want to implement states-space controls for the rexrov. I was wondering if you guys have any advice where to start and how to find necessary information with the simulator. How can I get the state matrix, input matrix?

Thanks

[2017-12-28 03:00] gaobo9109 commented on #174
Thanks for the help. I am using gazebo version 7.00.

If you don't mind, I have a few more questions regarding the parameters in the plugin. Firstly, what exactly is the metacentric width and metacentric length? I looked through Fossen's lecture slide and it only mentions metacentric height. Is it okay to stick to the same parameter value if I am modelling WAM-V (wave adaptive modular vessel). Sec

[2017-12-28 03:24] gaobo9109 commented on #174
Hi, I tried the following parameters to model the WAM-V
<mass>150</mass>
<volumn>1</volumn>
<box>
    <width>2.44</width>
    <length>3.91</length>
    <height>1.27</height>
</box>
<center_of_buoyancy>0 0 0</center_of_buoyancy>
<metacentric_width>0.4</metacentric_width>
<metacentric_length>0.4</metacentric_length>
<water_level_plane_area>0.48</water_level_plane_area>
<hydrodynamic_model>

[2017-12-28 09:24] gaobo9109 commented on #174
I think I found a bug in BuoyancyObject.cc.

    if (z + height / 2.0 > 0.5)
    {
      // Vessel is completely out of the water
      buoyancyForce = math::Vector3(0, 0, 0);
      buoyancyTorque = math::Vector3(0, 0, 0);
      // Store the restoring force vector, if needed
      this->StoreVector(RESTORING_FORCE, buoyancyForce);
      return;
    }
    else if (z + height / 2.0 < 0)
    {

[2018-01-04 22:17] duwke commented on #166
RexRov model looks fine, just the water looks incorrect.
I used the following commands:
roslaunch uuv_descriptions ocean_waves.launch
roslaunch uuv_descriptions upload_rexrov.launch x:=0 y:=0 z:=-20 mode:=default namespace:=rexrov

Here are my log files
[master.log](https://github.com/uuvsimulator/uuv_simulator/files/1604884/master.log)
[publish_world_models-4.log](https://github.com/uuvsimulator/

[2018-01-05 17:20] clydemcqueen opened #180 "Failing to build on Kinetic"
Hi, I'm running into a build problem. On a clean build (Xenial, Gazebo 7, Kinetic), I'm getting the following error:

[code]

Thanks.

Update: I was able to build successfully by reverting https://github.com/uuvsimulator/uuv_simulator/commit/9a8fb3e2c118a24c2dbfbfb97f530a2a22455370

[2018-01-08 17:17] joaobrittoneto opened #181 "Added Mass"
Hi,

I was working in the added mass issue in our project, using [Rock-Gazebo](https://github.com/rock-gazebo) integration, and I came up
with a different approach for determining the added mass effect in an UUV.

I determine a so called `Compensated Effort (C)`, i.e. a 6x6 matrix ( as a function of the rigid body and the added mass matrices) that multiplies the total efforts applied in the UUV, i

[2018-01-10 19:38] musamarcusso commented on #180
HI @clydemcqueen, thanks for the heads up,
thanks to the pull request submitted in #179 this should resolved. On my side I didn't see this error and the Travis builds have been fine. Could you give a small feedback on this building issues?

[2018-01-10 19:40] musamarcusso commented on #177
Hi @shubhankar12,
I would suggest checking the tutorials in https://uuvsimulator.github.io/, specially the ones relating to the controller abstractions. Do you have some specific controller in mind?

[2018-01-10 19:42] musamarcusso commented on #174
Hi @gaobo9109, thanks for spotting this. I will check on how to improve this. :)

[2018-01-10 21:52] clydemcqueen commented on #180
Thanks for the quick response, @musamarcusso --

It seems to come down to a difference in build tools. I was using `catkin_make` and your Travis builds are using `catkin build`. I had erroneously assumed that both tools implement the same package.xml spec, but per [this document](http://catkin-tools.readthedocs.io/en/latest/migration.html#implications-of-isolation), packages built with `catkin bui

[2018-01-11 14:41] musamarcusso commented on #180
Hi @clydemcqueen,
I missed that on the error message you sent. Yes, `catkin build` and `catkin_make` can give different outputs, I had similar issues when I first started using `catkin build`. Thanks for the feedback!

[2018-01-11 14:41] #180 closed

[2018-01-12 03:28] gaobo9109 commented on #174
Hi, I am unable to make my model move properly when using the VelocityControl and AccelerationControl code. I suspect it is because my model inertia matrix is not configured properly, or the placement of thrusters is not done properly. Is it possible for you to send me the urdf file you use to test the Kingfisher model? Thanks.

[2018-01-16 15:19] jeechieuta opened #184 "CMake Error"
When installing UUV sim, I get an error my colleagues and I can't debug. We thought it was because uuv_world_ros_plugins_msgs was not a catkin package, but that did not end up working either. Could someone help me out? The error message is copied below:

  uuv_simulator/uuv_control/uuv_control_utils/CMakeLists.txt:4 (find_package)

-- Could not find the required component 'uuv_world_ros_plugins_ms

[2018-01-16 15:39] #184 closed

[2018-01-16 15:40] jeechieuta commented on #184
I tried the Cmake build method, and it ended up working.

[2018-01-24 10:32] cosmer-admin opened #189 "CMake problem on last commit"
Hi,

I am running a Ubuntu 14.04 LTS with ROS indigo and Gazebo 7.

I have just tried to install the last commit of uuv-s imulator.
I had an error in the Cmake configuration for this version which desappear if I checkout the 7b6d063 commit :
The package uuv_world_ros_plugins_msgs was not found in uuv_control CMakeList.

I followed the installation process and I set the following PATH variable

sou

[2018-01-24 20:46] musamarcusso commented on #174
Hi, unfortunately I can't share them here because since it contains meshes with a brand name it has to go through internal clearing first. I can share the URDF files I have made though and describe how to set the meshes from the official kingfisher repository yourself. Would that work for you? Sorry for the delay on answering.

[2018-01-24 21:23] musamarcusso commented on #165
Hi @narcispr,

I have prepared a pull request #190 to try and begin to solve this issue.
The first step now was on how to represent the NED frame in a meaningful way for all the entities. Like @clydemcqueen said, they can be represented with the "_ned" suffix, but have to be added kind of to every module, sensors especially, to generate the data.
So the solution I propose here is to create a "worl

[2018-01-24 22:19] musamarcusso commented on #189
Hi @cosmer-admin,

I made some changes to make the build compatible with both `catkin_make` and `catkin build` in this pull request  #191 , but I have ROS Kinetic here. Could you check if it works for you and give a quick feedback?

[2018-01-31 20:33] swordsgnat opened #195 "Issue With Controller Tutorial - Matrix Problem?"
Hey, I've been working with uuv_simulator for a few months now on a virtual machine. I recently got a dedicated Ubuntu machine, and did a fresh install. When I tried to run the custom dynamic positioning controller tutorial as a test, though, I keep running into this weird error, shown below. Anyone have any idea what it is?

[code]

[2018-02-01 07:23] musamarcusso commented on #195
Hi @swordsgnat, thanks for reporting this. I looked into it now and apparently other projects are having the same issue with Eigen. I will try and see if I can find a solution for this.

[2018-02-01 07:33] musamarcusso commented on #195
Could you send the log file that was generated after this happened? I can't reproduce it on my PC or on the Travis docker image.

[2018-02-01 15:25] swordsgnat commented on #195
- I may be missing something, but it seems like the log isn't being generated. The log file it references in the error doesn't exist, though the folder does. I did a fresh install to make sure I hadn't skipped any steps or committed any silly errors, and I got the same thing. Eigen error, no log generated for the crash.

- Also, on the empty_underwater_world and ocean_waves launches, the water app

[2018-02-02 10:00] musamarcusso commented on #195
Hi @swordsgnat,

I just reinstalled Ubuntu on a new PC here to see if I could reproduce some of these errors. The setup is the following:

* Ubuntu 16.04.3 LTS
* ROS Kinetic
* Gazebo 7.0 (it came with the installation of `ros-kinetic-desktop-full`)

I will test later on with Gazebo 7.8 to see how it goes.

I then installed the following packages (from the instructions in https://uuvsimulator.githu

[2018-02-05 19:27] swordsgnat commented on #195
I did a clean install, and now about half the time I run the tutorial I can get it to work. The other half, it still crashes with the same error, shown below:
[code]
When it runs, I still get the black-and-yellow artifacting. I double and triple checked that my video drivers were updated - does anyone have any idea what else this might be?

[2018-02-07 16:01] cosmer-admin commented on #189
Hi,
It seems that it works fine now on both kinetic and indigo.
Thank you !

[2018-02-07 21:42] swordsgnat commented on #195
In attempting to solve the black/yellow ground problem today, I reduced the simulation to a base case (ocean_waves.launch, which runs without throwing any errors) and starting doing tests. I have ocean_waves working properly on one of my virtual machines, with files from a while ago. I started moving over files one by one, recompiling, and checking to see if it solved the error. I can say with cer

[2018-02-08 17:14] swordsgnat commented on #195
I've isolated the "yellow ground" error. On one of my virtual machines, I was able to trigger the error by only by updating Gazebo from 7.8.1 to 7.9.0 (by uninstalling the old Gazebo and then running the line `sudo apt-get install ros-kinetic-gazebo-msgs ros-kinetic-gazebo-plugins ros-kinetic-gazebo-ros ros-kinetic-gazebo-ros-control ros-kinetic-gazebo-ros-pkgs ros-kinetic-effort-controllers ros-k

[2018-02-09 12:40] jlack1987 commented on #181
I'm interested in seeing if this improves the simulation behavior as the current implementation has stability issues. I've had to disable it for my underwater sims as the sim goes unstable shortly after spawning.

[2018-02-09 12:43] musamarcusso commented on #181
Hi @joaobrittoneto, the issue I see with this in the case of the UUV simulator is considering that there are no contact forces. I would have to make some exceptions to make this possible since some of the scenarios we simulate here have manipulators.

@jlack1987, could you send some more information on the stability issues you are facing?

[2018-02-09 12:45] jlack1987 commented on #181
Unfortunately @musamarcusso it's been awhile since I've played around with it, but I believe the accelerations would go to `nan` very quickly after spawning when using added mass inertia matrices calculated from primitive shapes(ellipsoids I think?). Unfortunately that's about all I can recall.

[2018-02-09 12:46] phamhoanganhbk opened #198 "[Please help me] Error with receive the waypoint and apply to rexrov"
Hi everyone,

I am trying to run
`roslaunch uuv_tutorial_dp_controller start_tutorial_dp_controller_demo.launch`
then
`roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov`

So i have some errors as following:

Negative start time, setting it to 0.0
Check point #2
Traceback (most recent call last):
  File "/home/pha/catkin_ws/src/uuv_simulator/uuv_control/uuv_control_utils/scrip

[2018-02-09 12:47] musamarcusso commented on #181
Ah ok, I will have a look into it. I haven't modelled vehicles using the ellipsoid for a long time. I will make some tests here. Most of the vehicles I have added have had their parameters identified through experiments.

[2018-02-09 12:59] musamarcusso commented on #198
Hi @phamhoanganhbk,

I had seen this issue on my end once, it seems that the node providing this service wasn't loaded before the call for the send waypoint file command.
If you update the simulator to the latest version in the master branch, I increased the timeout

https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_control/uuv_control_utils/scripts/send_waypoint_file.py#L49

Check if

[2018-02-09 13:20] musamarcusso commented on #189
Hi @cosmer-admin, thanks for the feedback! If you find any other bugs or problems, don't hesitate to create a new issue :) I will close this one now.

[2018-02-09 13:20] #189 closed

[2018-02-09 13:39] phamhoanganhbk commented on #198
Hi Musa,

Thank you very much for your answers (it is so fast :D)
I have just updated the latest version in the master branch. But it isn't working too.
So, I increased the timeout = 60. It is the same errors.

I think maybe i have a problem with ROS.

Have a nice day,
Hoang-anh

[2018-02-09 14:07] musamarcusso commented on #198
Hi @phamhoanganhbk, you could try calling the service using the command line with `rosservice call` to see if it works.

[code]

[2018-02-09 14:12] musamarcusso commented on #198
You could also run `rosservice list` and see if the service is available.
Do you have the log file? Maybe it is easier to see there what happened.

[2018-02-09 14:40] phamhoanganhbk commented on #198
Hi @musamarcusso ,

Here, my log file

[xmlrpc][INFO] 2018-02-09 15:32:25,704: XML-RPC server binding to 0.0.0.0:0
[xmlrpc][INFO] 2018-02-09 15:32:25,704: Started XML-RPC server [http://phacosmer:35344/]
[rospy.init][INFO] 2018-02-09 15:32:25,704: ROS Slave URI: [http://phacosmer:35344/]
[rospy.impl.masterslave][INFO] 2018-02-09 15:32:25,705: _ready: http://phacosmer:35344/
[xmlrpc][INFO] 2018-02-

[2018-02-09 16:07] phamhoanganhbk commented on #198
Hi @musamarcusso ,

I saw it seems the service init_waypoints_from_file is not running.
i found it is declared in file dp_controller_local_planner.py.
To active this service, do i need to do anything else?

Thanks for your helps,
Hoang-anh

[2018-02-09 16:10] musamarcusso commented on #198
No, it should start without any extra command needed. Could you copy here the output you get when you run

[code]

(without trying to call the service for the waypoints)

[2018-02-09 16:17] phamhoanganhbk commented on #198
Here is the output

... logging to /home/pha/.ros/log/87db58a2-0db4-11e8-b5ba-5891cf6e920e/roslaunch-phacosmer-22772.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server http://phacosmer:37727/

SUMMARY
========

PARAMETERS
 * /publish_world_models/meshes/east/plane: [2000, 0.1, 100]

[2018-02-09 16:22] musamarcusso commented on #198
Hi @phamhoanganhbk,

I think I found the problem (at least one of them). The controller node throws an exception at startup, an error can be read in this part:

[code]

Try installing `scipy` and `numpy` either with `apt` as follows

[code]

or if you have `pip` (if you don't, you can install it using `sudo apt-get install python-pip`):

[code]

See if this solves the issue.

[2018-02-09 16:30] phamhoanganhbk commented on #198
Hi @musamarcusso
Oh, here is the result :D.
Merci beaucoup,

![screenshot from 2018-02-09 17 28 25](https://user-images.githubusercontent.com/23510297/36038047-ce934e9e-0dbe-11e8-9b99-fc03c83678a0.png)

[2018-02-09 16:33] musamarcusso commented on #198
Great that it worked out!
I'm trying to check the issue with the visualization of the meshes also (the texture is not being loaded apparently on newer versions of Gazebo).
I'll close this issue now. If you have any other questions or bug reports, feel free to open a new issue here.

[2018-02-09 16:33] #198 closed

[2018-02-10 21:08] AditAg opened #199 "Can't launch custom actuated thruster actuated vehicle model"
Hello,

I have been trying to launch my own bot and use it with the UUV_Simulator packages as specified in the Wiki. https://uuvsimulator.github.io/tutorials/config_thruster_manager.html. However when I launch the start_thruster_manager.launch file, I get the following errors:

gzserver: /home/adit/catkin_ws/src/uuv_simulator/uuv_gazebo_plugins/uuv_gazebo_plugins/src/UnderwaterObjectPlugin.cc:193:

[2018-02-12 22:39] phamhoanganhbk opened #200 "Problem with create a new thruster actuated vehicle model"
Hi everyone,

I have been following the tutorial to "creative a new thruster actuated vehicle model" and run
`roslaunch uuv_descriptions_example upload_rov_example.launch`
then I have a problem as following
______________________________________

  File "/opt/ros/indigo/share/xacro/xacro.py", line 62, in <module>
    xacro.main()
  File "/opt/ros/indigo/lib/python2.7/dist-packages/xacro/__init__.p

[2018-02-14 21:52] swordsgnat commented on #195
Gazebo has now updated the 7.X line to 7.11, but after a full recompile it seems to not have effected either error (the visual issues or the Eigen one)

[2018-02-14 22:11] swordsgnat commented on #200
Hey, man! I'm just a novice myself, but I have been working with the package for a few months. From my understanding, it's not the `/opt/ros/indigo/share/xacro/xacro.py` that's the issue - that's just a system-level file that's in charge of reading and interpreting xacro files. The issue is that `/home/pha/catkin_ws/src/uuv_descriptions_example/models/rov_example/urdf/rov_example_base.xacro` threw

[2018-02-14 22:26] phamhoanganhbk commented on #200
Hi @swordsgnat ,
Many thanks for your suggest. In fact, I've just been working with ROS and AUV a few months too.
With the model rexrov, rexrov2 and desistek_saga (I cloned from github), they are running normally.
So, I want to make a new model to understanding eveything :D
I will check the file rov_example_base.xacro  again.
Best,

[2018-02-16 14:01] phamhoanganhbk opened #202 "The trajectory following tutorial"
Hi,
I am a newbie in auv and i am learning the trajectory following
https://github.com/uuvsimulator/uuv_simulator/wiki/Creating-a-custom-dynamic-positioning-controller

Could you please give me any documents/papers to explain the trajectory following algorithms which is used in the simulation program? Or a small tutorial of file `dp_controller_local_planner.py`, please.

Thank you for your help,

[2018-02-19 13:17] joaobrittoneto commented on #181
Hi @musamarcusso, there is a [beforePhysicsUpdate](http://osrf-distributions.s3.amazonaws.com/gazebo/api/9.0.0/classgazebo_1_1event_1_1Events.html#a18e51f6dcd556597aa4fcd35aaa4b8b2) event and a [contact](http://osrf-distributions.s3.amazonaws.com/gazebo/api/9.0.0/classgazebo_1_1physics_1_1Contact.html) class that may be used for the case of contacts. I didn't really try it, but I think it's worth

[2018-02-21 11:33] musamarcusso commented on #202
Hi @phamhoanganhbk,

the book used are reference to interpolate the waypoints and generate smooth paths can be found [here](https://www.springer.com/us/book/9783540856283).
Basically it consists in two interpolators, one that generates a [3D Bezier curves of third order](https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_control/uuv_trajectory_control/src/uuv_trajectory_generator/path_g

[2018-02-21 14:22] JuanNadales opened #207 "Problem running files described in "Creating a new custom dynamic positioning controller""
Hi Everyone,

I'm new to ROS and I'm trying to follow this tutorial. Everything works properly, but when running the command **roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov** I get the next error message :

![20180221_151222](https://user-images.githubusercontent.com/36701878/36484598-b7561ee4-1711-11e8-8de0-09d6e06af96b.jpg)

Any idea why? Is there anything I should've d

[2018-02-22 19:49] swordsgnat commented on #207
Oh, man, check the glare on that screen! :D You can just copy/paste the error : P

Just to check: this is the "Creating a new custom dynamic positioning controller" tutorial, right, and you're running the line `roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov` at the same time another window is running `roslaunch uuv_tutorial_dp_controller start_tutorial_dp_controller_demo.l

[2018-02-22 20:26] JuanNadales commented on #207
Thanks for the reply, and sorry for the glare, should've pasted the error message as you say :D

When I executed the code I first ran  `roslaunch uuv_tutorial_dp_controller start_tutorial_dp_controller_demo.launch` and then in a new terminal I ran `roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov`. Should it be done the other way round?

[2018-02-22 21:39] swordsgnat commented on #207
No, that's right, I was just checking. I'm trying to reproduce the error on my machine, but I've been having difficulties with the tutorials myself since the Gazebo update to 7.10. I'll check on my other machine and get back to you. I'm just a beginner myself, so I don't know how much I can help, but it might give us a clue...

[2018-02-23 06:48] musamarcusso commented on #207
Hi @JuanNadales,

it can be that the controller node died before you started the `send_waypoints_file.launch`. Usually that is not that clear because Gazebo still runs, only the controller might have died. Could you copy here the output of you terminal when you run

[code]

[2018-02-23 16:47] swordsgnat commented on #195
Hey, not to quintuple-post, but I was wondering if anyone else was running into this issue or working on a fix on the Eigen bug or visual effect? I'm a bit of a dead end myself.

[2018-02-24 14:02] phamhoanganhbk commented on #202
Hi @musamarcusso
Many thanks for your answer,
In fact, i want to implement formation tracking, application for uuv. then I would like to inherit your plugin to make the simulation.

[2018-02-26 12:09] musamarcusso commented on #195
Hi @swordsgnat, have you tried to run the simulation in a docker container?

[2018-02-27 20:53] swordsgnat commented on #195
I'm running a 32 bit version of Ubuntu - I may be wrong, since I haven't used Docker before, but I think it needs 64 bit to work? Does uuv_simulator require 64 bit as well - could that be a possible discrepancy?

[2018-02-28 07:58] musamarcusso commented on #195
Maybe, I imagine that most of the libraries are mostly available for 64 bits systems. But I never tested it in a 32 bit machine, I can't be sure of that.

[2018-02-28 10:00] musamarcusso commented on #195
It might be a problem also in the future, since the support for [the 32 bit Ubuntu is already being dropped](https://itsfoss.com/ubuntu-drops-32-bit-desktop/)

[2018-02-28 11:07] #202 closed

[2018-02-28 20:30] swordsgnat commented on #195
I can look at switching which Ubuntu I'm using, but I don't think that's the issue - at least, not entirely.  I went and made a new 64-bit VirtualBox virtual machine and loaded everything onto it from scratch. When it was running Gazebo 7.0.0  , running the Custom Controller Tutorial yielded the "Z-Ordering Bug" that was present in early 7.X Gazebo versions:
`gzserver: /build/ogre-1.9-mqY1wq/ogre-

[2018-03-02 12:15] musamarcusso commented on #195
Could you send me a list of the packages you are installing? Maybe I can try it out here and see if the problem happens as well.

[2018-03-02 13:47] musamarcusso commented on #195
Update on the textures problem. I just updated another PC with Gazebo 7.9 and the Ogre log file (`$/.gazebo.ogre.log`) shows that Ogre can't find the textures.

[code]

I will follow this log file to find the problem.

[2018-03-06 20:59] swordsgnat commented on #195
The latest change mostly fixed the texturing problem! The central ground texture square in the custom controller tutorial is now showing up dark, and I'm getting some odd crashes every second time I run the tutorial, but I can deal with that!

Thank you very much!

[2018-03-06 20:59] #195 closed

[2018-03-19 02:42] BeyondLeee opened #218 "Questions about Creating a new custom dynamic positioning controller"
Hi,
  I'm working with the uuv_simulator but I got some problems when I executed the part of "Creating a new custom dynamic positioning controller".when I ran "roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov",the error is like this:
[rexrov/send_waypoint_file-1] process has died [pid 4701, exit code 1, cmd /home/liming/catkin_ws/src/uuv_simulator/uuv_control/uuv_control_uti

[2018-03-19 04:41] BeyondLeee commented on #218
I have found the solution :https://github.com/uuvsimulator/uuv_simulator/issues/198
Thank you!
Sorry to disturb you！

[2018-03-19 04:42] #218 closed

[2018-03-21 20:46] swordsgnat opened #220 "Sonar "-Inf" Issue"
I recently updated to Gazebo 9.0 and the latest uuv_simulator version. I'm now having trouble with the sonar sensors (like the one included on rexrov_sonar). They're giving me "-Inf" values for all the ranges[], indicating that the ranges are less than the minimum or greater than the maximum, despite my positioning objects in the simulation to be in-range and adjusting the angle and placement of t

[2018-04-05 13:55] AditAg opened #222 "Visualizing the sensor data from UUV_Simulator in RViZ"
Hello,
I've currently started using UUV Simulator and while trying it out for my own project, I'm unable to determine how to get the data from the sensors using RViZ. I've added an instance of the various macros for sensors such as the default camera etc, but I don't seem to know how to visualize the images being captured by the camera.

[2018-04-06 13:58] nilsbore commented on #48
Hey, we are working towards sensor simulations in `uuv_simulator` also. Currently, we have something akin to a sidescan, that gives us waterfall images. More importantly, we are working towards a nice FLS sensor here: https://github.com/smarc-project/smarc_simulations/blob/master/smarc_gazebo_plugins/smarc_gazebo_ros_plugins/src/gazebo_ros_image_sonar.cpp . It builds on the sim described in the pa

[2018-04-10 13:07] #200 closed

[2018-04-24 09:02] phamhoanganhbk opened #230 "How to get Euler angle ??"
Hi everyone,

I am trying to get the Euler angle to display the Matlab/Simulink.
I used the topic `/rexrov/pose_gt` to have an orientation [x y z w] then i convert it to Euler angle  but seemly it isnot correct. I controlled uuv revolving, but the yaw angle is always 3.14 (Like the image I attached below).

Could you give me some suggests, please?
![screenshot from 2018-04-24 10 53 51](https://use

[2018-04-26 14:50] g-arjones opened #239 "Contributing to this project"
Hello,

Does this project accept third-party contributions? I ask this because I noticed that pull requests have been left stale (I have opened a couple of them myself) and would like to to be sure that there is at least hope of having stuff merged at some point.

Thanks for the amazing effort :+1:

[2018-04-26 14:55] g-arjones commented on #239
No problem, at all. I can see you are doing most of the work here by yourself and it is a lot, really. :)

[2018-04-26 14:56] musamarcusso commented on #239
Thanks for understanding :) I also don't like taking that long to respond here, I really appreciate the input from other people to the project.

[2018-05-03 06:31] musamarcusso commented on #230
Hi @phamhoanganhbk, sorry for the late response, could you copy some samples of the `pose_gt` output and the data you are reading in Matlab?

[2018-05-03 06:33] musamarcusso commented on #222
Hi @AditAg,
are the topics being generated? You can check this first by running `rostopic list`. If they are, in RViz in should be possible to read them. Could you check this?

[2018-05-03 12:37] phamhoanganhbk commented on #230
Hi @musamarcusso ,
Thank you for your reply.
I found an error for this issus. I am sorry for not closing this topic.
Have a nice day.

[2018-05-03 12:42] #230 closed

[2018-05-03 17:34] phamhoanganhbk commented on #199
Hi,
Coud you copy a step by step what you did?

[2018-05-06 22:09] brunohjs commented on #220
I have the same problem and I do not know what to do. Help us!

[2018-05-08 08:04] BeyondLeee opened #243 "A question about the sonar data"
Hi, I want to study the obstacle avoidance problem of multi robots and I need  the multibeam sonar data of the rexrov.  I saw in the paper that the UAV screenshot with sonar is like this
![image](https://user-images.githubusercontent.com/37523508/39745142-00155dd6-52d9-11e8-9eac-dc6ed64a9928.png)
but in my project ,I didn't the blue lasers! Could you tell me how to find them out? And What is the t

[2018-05-08 08:30] musamarcusso commented on #220
I will check this, I have Gazebo 9.0 running on my PC now. Could you just send me the configuration of you sonar plugin so that I can test the same problem?

[2018-05-11 14:11] hbaqueiro opened #246 "Including vehicle into the world"
Hi everyone,

(I'm a beginner to ROS, Gazebo and UUV Simulator) I am doing the tutorial of UUV Simulator and in the section "Configuring the thruster manager for a new vehicle" I am getting the following error when I try to include my vehicle into the world:
[code]

Can anyone help me? Thanks in advance :)

[2018-05-24 12:25] #239 closed, assigned to nobody

[2018-06-02 11:15] minderx commented on #181
how to add the damping coef and added mass for DARPA SUBOFF submarine model?
 i know some coeff  are listed on page  27 of http://www.dtic.mil/dtic/tr/fulltext/u2/a227715.pdf but im not completely sure what they are. for example based on the coeff listed on the paper how can i add those to fit the UUV in what order?

<added_mass>
             ??
            </added_mass>

<linear_damping_forward_s

[2018-06-15 16:52] james-gonz0 opened #247 "rexrov demo teleop throws error(s)"
So I am trying to run the quickstart, and I get past running gazebo with empty_underwater_world and inserting the ROV into said world, however when I run the teleop command line, i get the following errors:

`[rexrov/thruster_allocator-1] process has died [pid 27523, exit code 1, cmd /home/cavr/catkin_ws/src/uuvsimulator/uuv_control/uuv_thruster_manager/scripts/thruster_allocator.py __name:=thrust

[2018-06-18 07:06] musamarcusso commented on #247
Hi @james-gonz0,
could you send me the complete output? I can't really see what caused the problem.

[2018-06-18 16:05] james-gonz0 commented on #247
Here it is:
`roslaunch uuv_control_cascaded_pid joy_velocity.launch uuv_name:=rexrov model_name:=rexrov joy_id:=0
cavr@hab2:~$ roslaunch uuv_control_cascaded_pid joy_velocity.launch uuv_name:=rexrov model_name:=rexrov joy_id:=0
... logging to /home/cavr/.ros/log/02570ab0-7311-11e8-b639-54ee75532f16/roslaunch-hab2-4754.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to

[2018-06-22 10:54] roaddy commented on #25
Hi, sorry to bother you. I wonder is there any progress in this enhancement??  I also want to this but I am new to Gazebo, is there any possible solution to try? Thanks a lot~

[2018-06-28 09:07] JacksonHShields commented on #48
@nilsbore some examples would be great. I'm also really interested in this.

[2018-06-29 22:47] james-gonz0 commented on #247
Resolved, was actually a catkin_ws error relating to cmake

[2018-07-02 15:29] musamarcusso commented on #247
Hi @james-gonz0, great that it is resolved. May I close this issue then?

[2018-07-02 15:30] musamarcusso commented on #246
Hi @hbaqueiro, could you provide the URDF of your robot model as well?

[2018-07-02 15:34] musamarcusso commented on #243
Hi @BeyondLeee, the sonar output for Gazebo has been disabled for performance reasons, but it is configurable through [this option](https://github.com/uuvsimulator/uuv_simulator/blob/ff3fc7fa5123fc9699846534e6d6e81ef78d426d/uuv_sensor_plugins/uuv_sensor_ros_plugins/urdf/sonar_snippets.xacro#L132) of the Gazebo plugin. The sonar simulation is still a feature to be developed, so for now the laser sc

[2018-07-02 15:36] musamarcusso commented on #165
Hi @narcispr,
I have been using the solution I posted before for a while and it seems to do the job. What do you think of it? If it passes as a way to have the NED frame, please let me know, so I can close this issue.

[2018-07-02 15:37] musamarcusso commented on #164
Hi @swordsgnat, the underwater communication was being simulated by a proprietary emulator in the project the UUV simulator was being used. But this is something I would like to develop for this package, too. If you have any sources and information about how to model this, please let me know. I would be very interested as well.

[2018-07-02 15:41] musamarcusso commented on #48
Hi @nilsbore, all contributions are very welcome :) If you want to make a pull request, I will be happy to review it. Another solution would be to add information on the documentation of the UUV simulator how to integrate your plugins as well, so more people can use it :)

[2018-07-02 16:37] james-gonz0 commented on #247
@musamarcusso Yes you may.

[2018-07-03 02:42] touhid1259 opened #254 "Newly added spherical robot keeps jumping in and out of water"
Hi

I am new to gazebo, ROS and UUV simulator.  I am trying to use UUV Simulator. I am trying to add new robot according to your documentation. I have added one sphere robot with radius .2. But, the robot is jumping up and down of water (Images attached). Actually, my expectation was:- robot may sink or float or may stays stable inside water based on its mass. So, can you please help me on this re

[2018-07-03 05:49] #247 closed

[2018-07-03 07:12] nilsbore commented on #48
Hi @musamarcusso , and thanks for your great work on this simulator! I'll see how much it would take to create a clean PR to this repo, and follow one of the proposed paths, thanks!

[2018-07-03 15:52] musamarcusso commented on #254
Hi @touhid1259, from a first glance in this problem, it seems to me that the damping coefficients may not be enough to slow down the ball.
Could you copy the complete model you are using here? Then it might be easier to evaluate what to do :)

[2018-07-03 16:56] touhid1259 commented on #254
Hi musamarcusso

Thanks for the reply. Below are the generated robot files that are being generated following the documentation. I have changed the files to my need. In my case, I think only default.xacro, gazebo.xacro, base.xacro and sensors.xacro are used. But I added all the files. One thing to note, from gazebo.xacro, I have used the hydrodynamic model for sphere instead of fossen. So, may be

[2018-07-03 18:15] dbiegl opened #255 "Issues with following the dp controll tutorial"
Im trying to run the dynamic position simulation but whenever I run ---- roslaunch uuv_tutorial_dp_controller start_tutorial_dp_controller_demo.launch ---- I get the error -- [rexrov/tutorial_dp_controller-11] process has died [pid 8881, exit code 1, cmd /home/daniel/catkin_ws/src/uuv_simulator/uuv_tutorials/uuv_tutorial_dp_controller/scripts/tutorial_dp_controller.py odom:=pose_gt trajectory:=dp_

[2018-07-05 15:03] musamarcusso commented on #254
Hi @touhid1259, thanks for the information! I found a bug on the computation of the nonlinear damping coefficients for the sphere model related to a refactoring that happened a while ago. I am working on a patch and will notify you when it is finished.

[2018-07-05 15:36] dbiegl commented on #255
After a nice day off yesterday, I installed casadi and everything worked perfectly. Im closing the issue.

[2018-07-05 15:36] #255 closed

[2018-07-05 15:59] musamarcusso commented on #255
Hi @dbiegl, thanks for the feedback. I will add the installation of casadi to the list of requirements in the documentation.

[2018-07-05 20:00] dbiegl opened #260 "Trying to launch eca_a9 causes errors."
After getting rexrov to follow waypoints im trying to do the same with eca_a9. I launch a world just fine, but when i try to spawn my rover with ``roslaunch eca_a9_gazebo start_demo_teleop.launch joy_id:=0``
I get the this output.......
logging to /home/daniel/.ros/log/a49d83de-808c-11e8-9226-b8ca3a8b9ea8/roslaunch-daniel-Precision-T1650-1513.log
Checking log directory for disk usage. This may tak

[2018-07-05 20:49] musamarcusso commented on #260
Hi @dbiegl, I have a look into this. I am actually currently working on the ECA A9 package to update it to the latest changes.

[2018-07-05 20:51] musamarcusso commented on #260
If you are looking for another AUV model, you can try the [LAUV](https://github.com/uuvsimulator/lauv_gazebo) as well.
I will get back to you when the issue with the ECA A9 are solved.

[2018-07-05 20:53] dbiegl commented on #260
thank you for your swift response, Ill try to use LAUV for now and close this issue.

[2018-07-05 20:53] #260 closed

[2018-07-05 22:00] musamarcusso commented on #254
Hi @touhid1259, the damping problem should be solved for the sphere computation, could you check if it works?

[2018-07-05 22:02] musamarcusso commented on #260
@dbiegl I just merged a patch to the ECA A9 repository. The error seems to be solved on my end, could you check if you still have problems?

[2018-07-06 07:39] musamarcusso opened #261 "Dubins path planner sometimes generates paths with high curvature"
Dubins path planner will generate paths with high curvatures depending on the positioning of the waypoints to be interpolated

[2018-07-06 13:15] musamarcusso opened #264 "Fix computation of added mass and nonlinear damping coefficients for spheroids"

[2018-07-06 13:34] musamarcusso opened #265 "Move `uuv_manipulators` package to its own repository"

[2018-07-06 13:40] musamarcusso opened #266 "New GPS sensor plugin without dependency from Gazebo's GPS sensor plugin"

[2018-07-06 13:40] musamarcusso opened #267 "Add smooth velocity profile generation to the local planner"

[2018-07-06 14:15] musamarcusso commented on #260
Thanks for the feedback!

[2018-07-06 14:25] musamarcusso opened #268 "Python 2 and 3 compatibility"

[2018-07-06 14:57] musamarcusso opened #269 "Add unit tests for lift and drag models"

[2018-07-06 17:43] touhid1259 commented on #254
Hi musamarcusso

After I pulling the new code, I am getting an error for `catkin_make install` command. The error is:-

[code]

So, do I have to clone the repository again? Please, provide me any suggestion.

Thanks
Touhid

[2018-07-07 17:58] musamarcusso commented on #254
Hi @touhid1259, I found the mistake and will put a patch to that soon. I usually use the workspace configuration described in the [documentation](https://uuvsimulator.github.io/installation.html#creating-and-configuring-a-workspace) and therefore the error didn't show up to me.

[2018-07-09 15:08] musamarcusso commented on #254
Hi @touhid1259, I recently merged the fix for that issue, do you still see the same error?

[2018-07-09 18:24] galfunk opened #272 "Creating a new custom dynamic positioning controller"
Hello try to run
roslaunch uuv_tutorial_dp_controller start_tutorial_dp_controller_demo.launch

the following error appears

[INFO] [1531160226.812975, 0.000000]: Calling service /gazebo/spawn_urdf_model
[rexrov/tutorial_dp_controller-11] process has died [pid 22836, exit code 1, cmd /home/gal/catkin_ws/src/uuv_simulator/uuv_tutorials/uuv_tutorial_dp_controller/scripts/tutorial_dp_controller.py od

[2018-07-09 21:07] touhid1259 commented on #254
Hi musamarcusso

Thanks for the fix. It is working perfectly now. Also, the robot is working as expected. I have couple of questions though. These are:

1. Can you please tell me how am I suppose to calculate the "hydrodynamic parameters"  i.e., added_mass and damping parameters for different kind of robots i.e., robots other than "spherical shape" or the added robots in the tutorial?

2. Can I ac

[2018-07-10 06:02] musamarcusso commented on #254
Hi @touhid1259, I am glad that the issue is solved.
Regarding your questions:
1. There are ways of calculating the added-mass and damping coefficients by using approximations to simple shapes (for example, cylinders, spheres and so on). A few sources come to mind for me where you might find the correct equations to do that:
* [Values of the Added Mass](http://www.brennen.caltech.edu/fluidbook/basi

[2018-07-10 06:09] musamarcusso commented on #272
Hi @galfunk, could you provide the whole output where this error occurs?

[2018-07-10 09:17] galfunk commented on #272
Thank you for your reply, please find the whole output

gal@gal-XPS-15-9560:~$ roslaunch eca_a9_gazebo start_demo_teleop.launch joy_id:=0
... logging to /home/gal/.ros/log/ba51bd2c-83d8-11e8-ac53-9cb6d0f2f06b/roslaunch-gal-XPS-15-9560-19453.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

redefining global

[2018-07-10 09:28] musamarcusso commented on #272
Hi @galfunk, thanks for the information.
It seems that you are missing `casadi` in your system. This is part of a new implementation but it shouldn't affect other controllers. I will fix this to enforce the use of this package to be optional.
If you want to fix this now, you can install `casadi` using

[code]

[2018-07-10 09:29] musamarcusso opened #273 "Set the Casadi package as an optional dependency"

[2018-07-10 09:33] galfunk commented on #272
Thanks

[2018-07-10 09:39] galfunk commented on #272
I have another question regarding the option to generate a ROS bag with the recorded simulated data, if I set the flag "true", where the location of the recorded bag file define ?

Thanks again

[2018-07-10 09:41] galfunk commented on #272
I try to install the casadi - unfortunately received sudo: pip: command not found

[2018-07-10 10:17] musamarcusso commented on #272
For `pip`: to install `pip` you have to run

[code]

In the tutorial I forgot to put the option to determine the path to the `recording.bag` file. Per default it should be stored in your `$HOME/.ros` folder. If you check the [`record.launch` file](https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_gazebo/launch/controller_demos/record_demo.launch#L3), you should be able to see the argum

[2018-07-10 10:59] galfunk opened #274 "uuv_control_utils package"
Hi , try to run
roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov

received
 gal@gal-XPS-15-9560:~$ roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov
... logging to /home/gal/.ros/log/0c17bfdc-842c-11e8-be38-9cb6d0f2f06b/roslaunch-gal-XPS-15-9560-4543.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking

[2018-07-10 15:45] musamarcusso commented on #274
Hi @galfunk, could you send the output from the controller node? I tried reproducing it here, but I didn't have the same issue.

[2018-07-10 16:00] touhid1259 commented on #254
Hi musamarcusso

Thanks for the suggestions.

regards
touhid

[2018-07-10 16:02] #254 closed

[2018-07-10 16:03] galfunk commented on #274
Hi I'm not sure what you asking for... I'm pretty new in the simulation environment.
Where I can find the  output from the controller node ?

[2018-07-10 16:05] musamarcusso commented on #274
Did you call this launch file after starting, for example, the DP controller tutorial demo? If that is so, it can be that the error occurred in the callback function for this service.

[2018-07-10 16:09] galfunk commented on #274
I call this launch file after used
roslaunch uuv_tutorial_dp_controller start_tutorial_dp_controller_demo.launch

[2018-07-10 16:12] galfunk commented on #274
Now I try to call first
roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov

and receive
gal@gal-XPS-15-9560:~$ roslaunch uuv_control_utils send_waypoints_file.launch uuv_name:=rexrov
... logging to /home/gal/.ros/log/64a37ebe-845b-11e8-be38-9cb6d0f2f06b/roslaunch-gal-XPS-15-9560-18187.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Do

[2018-07-10 16:17] dbiegl opened #275 "Gazebo Segfaults when I try to add a new model to a world"
Im trying to add a new model to an existing world. I used Munkholmen and the Herkules as examples to make a model pipe that I added to world_models. From there I added code to the world launch file to spawn the model pipe. Heres the output when I try to launch the world.

daniel@daniel-Precision-T1650:~/catkin_ws$ roslaunch uuv_descriptions munkholmen.launch
... logging to /home/daniel/.ros/log/4f

[2018-07-10 18:15] musamarcusso commented on #274
In this last case it will not work because the controller node has not been started. The service to receive the waypoint file won't be available. When you start the tutorial demo and then the `send_waypoint_file.py` script, what is the output from the tutorial demo? Are you using the waypoint file available as an example or did you add your own?

[2018-07-10 18:39] musamarcusso commented on #275
Hi @dbiegl,
I can't really figure out the problem from this output. Just to help me understand the issue,
1. Did you had the pipe Gazebo model to some catkin package in your workspace (such as the models in the [`world_models`](https://github.com/uuvsimulator/uuv_simulator/tree/master/uuv_descriptions/world_models) folder?
2. In case you did, if you start Gazebo using `roslaunch gazebo_ros empty_w

[2018-07-10 19:07] dbiegl commented on #275
I based my model package off of the Herkules package. When I open an empty world I see my model in the insert tab, however I cannot actually insert it into the world.
Heres the model.sdf
`<?xml version="1.0"?>
<sdf version="1.5">
  <model name="pipe">
    <static>true</static>
    <link name="link">
      <collision name="pipe">
      <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>

[2018-07-10 19:10] dbiegl commented on #275
Well that didn't work too well, I added all the files to a repository
[https://github.com/dbiegl/Simple-Pipe](url)

[2018-07-10 19:33] musamarcusso commented on #275
One thing that is very important to make your Gazebo model visible is to add your model's path to Gazebo's models path. If, for example, you create a catkin package named `pipe_description` (this is just an example, you can name the package whatever you want) as follows

[code]

you can then create a folder `models` in `pipe_description` and copy your `Single-Pipe` folder into `models`. Considerin

[2018-07-10 19:38] musamarcusso commented on #275
I just accessed your model from your profile's page. Apart from my suggestions above, I would also check the path to your `pipe.dae` mesh [here](https://github.com/dbiegl/Simple-Pipe/blob/47d59d800e61c8d8d3fb35d7c35bfef62e857e95/model.sdf#L10). According to the path, you should also create a `meshes` folder in the `Single-Pipe` folder and move `pipe.dae` to this `meshes` folder.

[2018-07-10 19:43] dbiegl commented on #275
I have the pipe.dae in a meshes folder, i forgot to copy it over when i submitted the reprository. I'll work on adding the folder to gazebo's path

[2018-07-10 19:48] musamarcusso commented on #275
Also, I tried opening the `pipe.dae` file in MeshLab, but I got an error

[code]

Maybe something happened when exporting the mesh to COLLADA.

[2018-07-10 19:50] dbiegl commented on #275
Ill take another look at the pipe.dae file again as I may have messed something up when making the mesh.

[2018-07-10 19:51] musamarcusso commented on #275
Are you exporting it in Blender?

[2018-07-10 19:52] dbiegl commented on #275
yes

[2018-07-10 19:57] musamarcusso commented on #275
The Blender COLLADA exporter is not quite verbose, you can try importing the same COLLADA file again in Blender first to check if the meshes and textures are still there. You might also try to export it as OBJ (includes textures) or STL (no textures).

[2018-07-10 19:59] dbiegl commented on #275
alright ill play around with blender some, if that doesn't work do you have a recommended software?

[2018-07-10 20:04] musamarcusso commented on #275
I think you can convert meshes using MeshLab. Only if you need to edit the meshes, Blender might be the only free option to use, as far as I know.

[2018-07-10 20:16] musamarcusso commented on #273
#276

[2018-07-10 20:52] #273 closed

[2018-07-11 08:00] galfunk commented on #274
I'm using the waypoint file as an example. The output from the start_tutorial_dp_controller_demo.launch

gal@gal-XPS-15-9560:~$ roslaunch uuv_tutorial_dp_controller start_tutorial_dp_controller_demo.launch
... logging to /home/gal/.ros/log/8993f558-84df-11e8-b770-9cb6d0f2f06b/roslaunch-gal-XPS-15-9560-3548.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
D

[2018-07-11 10:04] upasana27 opened #277 "KDL does not support root link"
Hi everyone,
I run the following commands-
roslaunch uuv_descriptions upload_rexrov_default.launch mode:=default x:=0 y:=0 z:=-20 namespace:=rexrov

and getting the folowing warnings:
[ WARN] [1531303415.668380595]: The root link rexrov/base_link has an inertia specified in the URDF, but KDL does not support a root link with an inertia.  As a workaround, you can add an extra dummy link to your URD

[2018-07-11 12:58] musamarcusso commented on #274
Did you call `send_waypoint_file.py` in this last case? I can't find the log from the callback function.

[2018-07-11 15:58] dbiegl commented on #275
I finally fixed this issue and everything is running smoothly now. I remade the files and made sure names matched across folders and I added an stl. Thanks

[2018-07-11 15:58] #275 closed

[2018-07-13 16:12] hbaqueiro commented on #246
Hi @musamarcusso , sorry for the delay. I've formatted my machine and hat to follow the tutorial again. The URDF of my robot are the templates generated by ```rosrun uuv_assistants create_new_robot_model --robot_name baqfish```. (I named it baqfish instead of baqtronic this time). I've not edited them. I could paste the code but they should be very much the same as if you run the command...

[2018-07-14 11:37] galfunk commented on #274
I'm re-install the UUV simulator and the problem solved.

Thanks

[2018-07-14 11:37] #274 closed

[2018-07-18 16:33] musamarcusso opened #281 "Ensure that the generate quaternions remain in the same hemisphere"
https://github.com/uuvsimulator/uuv_simulator/blob/c75f8ee3da30c73c92e50109f7627b2758644224/uuv_control/uuv_trajectory_control/src/uuv_trajectory_generator/path_generator/cs_interpolator.py#L128

[2018-07-18 18:06] brschettini commented on #246
Hello everyone,

I'm also learning the uuv_simulator and went to the same problem. It appear to be a problem on the template's comment. Somehow it's not allowing comments like the one below:

```          ```

Also, I realized that a suffix tag in the sensors.template was missing.

I made a pull request to fix those problems.

[2018-07-19 16:18] willcbaker opened #283 "urdf_parser is outdated and overrides installed urdf_parser_py"
The "baked-in" version of urdf-parser py is outdated and does not correctly parse urdf files;
the new version of urdf_parser_py https://github.com/ros/urdf_parser_py has the `hardwareInterface` tag in` <joint>` instead of <actuator> among other things

uuv installs a urdf_parser_py module here:
https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_manipulators/uuv_manipulators_commons/uuv_

[2018-07-19 18:25] g-arjones opened #286 "Tests not being run due to syntax errors in CMakeLists.txt"
There is a syntax error in uuv_gazebo_ros_plugins' and uuv_manipulators_kinematics' CMakeLists:

In uuv_gazebo_ros_plugins/CMakeLists.txt:

[code]

The closing ')' should be after the list of python files (ending foreach's argument list) and in uuv_manipulators_kinematics/CMakeLists.txt there is a similar syntax error.

I would fix this and open a PR but unfortunately the unit tests for these pack

[2018-07-19 22:48] AkshayHinduja opened #287 "Protobuf incompatibility errors in Ubuntu 16.04 with ROS Kinetic, Gazebo 7"
I am trying to compile the package on my computer but running into errors similar to:-

[code]
I was initially using Protobuf 2.6.1 but seeing the errors migrated to 3.3.0 by manually upgrading the version. It didn't make any difference to the errors. I have also reinstalled gazebo but to no avail. The compilation worked on a different system with the same configuration, with protobuf 2.6.1
Any su

[2018-07-20 07:09] musamarcusso commented on #286
Thanks for catching this.
The tests run if I run them individually

[code]

I will check this error.

[2018-07-20 07:59] musamarcusso commented on #287
Hi @AkshayHinduja, just to clarify, does this happen when running `catkin build` in your workspace? I never run into this issues when using [Gazebo's installation instructions](http://gazebosim.org/tutorials?tut=install_ubuntu&cat=install)

[2018-07-20 09:00] musamarcusso commented on #286
Now it seems to be working. The [Travis build](https://travis-ci.org/uuvsimulator/uuv_simulator/jobs/406148076#L4201) ran the tests as expected.

[2018-07-20 12:04] g-arjones commented on #286
Great... Thanks.

What about [these](https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_manipulators/uuv_manipulators_commons/uuv_manipulators_kinematics/CMakeLists.txt#L39)?

[2018-07-20 12:04] musamarcusso commented on #286
I am also fixing those, but the whole manipulators package is supposed to be moved somewhere else soon.

[2018-07-20 12:06] g-arjones commented on #286
Awesome, Musa... Thanks a lot!

[2018-07-20 17:46] AkshayHinduja commented on #287
Hi @musamarcusso. Yes it happens while running `catkin build` in the workspace.
To clarify, this issue is not during Gazebo's installation, it is when building the uuv_simulator.
I removed gazebo-7 (pre-installed with ros-kinetic) to freshly install gazebo 9, but the same problem persists.

Another example of the error messages:-

`In file included from /usr/include/ignition/msgs1/ignition/msgs/Me

[2018-07-23 06:06] musamarcusso commented on #287
Have you tried reinstalling only the `ignition` libraries? The problems seems to be around `ignition`.

[2018-07-23 12:20] #286 closed

[2018-07-23 12:56] Nirzvi1 opened #291 "Releasing uuv_simulator to build farm"
Hi,

My organization (Clearpath Robotics) is using uuv_simulator to simulate the Heron's water physics. To simplify the process for Heron customers, it would be great if this package could be released so they wouldn't have to install from source.

Thanks

[2018-07-23 16:43] hbaqueiro commented on #246
Dear all,
I updated the autoproj to get the fixed code and created the new robot model and  the thruster manager configuration again. I am still facing errors:
[code]

[2018-07-24 07:55] musamarcusso commented on #281
#289

[2018-07-24 07:55] #281 closed

[2018-07-24 09:19] arturmiller opened #293 "Include ROSBaseModelPlugin"
Hello,

I am currently writing a custom gazebo sensor plugin. For that, I want my plugin to inherit from ROSBaseModelPlugin from the uuv_sensor_ros_plugins package. Unfortunately that isn't possible. I get the error message:
"[Plugin.hh:165] Failed to load plugin {myplugin}: {mypluginpath}: undefined symbol: _ZTIN6gazebo18ROSBaseModelPluginE"
The problem is that the uuv_sensor_ros_plugins package

[2018-07-24 13:08] musamarcusso commented on #293
I just merged a patch to this issue. Could you give a short feedback if this solves the problem?

[2018-07-24 14:08] AkshayHinduja commented on #287
the protobuf binaries didn't work for me. It seems the issue arises from gazebo picking up a different version of ignition(from earlier binary installs) which was dependent on an older version of protoc.  (see here: http://answers.gazebosim.org/question/17820/compilation-fails-as-gazebo-and-ignition-msgs-require-different-protobuf-versions/)
I am trying to build it from source and will see if it w

[2018-07-24 14:10] musamarcusso commented on #287
What version of Gazebo are you using?

[2018-07-24 14:16] AkshayHinduja commented on #287
Initially had Gazebo7 from the ros-kinetic install. That didnt work, tried Gazebo-9 from binaries. Now trying gazebo-9 from source

[2018-07-24 14:20] musamarcusso commented on #287
That is very strange. I don't know many other tips that I could give in that case.
One of the things you could maybe check (I don't know how it would help) is to check the configuration for the [Travis build](https://github.com/uuvsimulator/uuv_simulator/blob/master/.uuv_ci_config/install_gazebo9.sh) since one of the cases installs Gazebo 9 for tests. But it is not much different from what the off

[2018-07-24 18:55] AkshayHinduja commented on #287
I finally got it compiled. Gazebo, ignition, and protobuf have a lot of compatibility issues between versions. I'll list down what I did so it might be useful to others.

What worked for me was to first erase all gazebo, ignition and protobuf related files and binaries (sudo apt-get remove, and delete /usr/ and /usr/local include files.

Then install from source protobuf 2.6.1. Install protobuf-co

[2018-07-24 20:34] #283 closed

[2018-07-25 06:38] arturmiller commented on #293
Your patch has solved this issue.
Thank you  very much!

[2018-07-25 06:38] #293 closed

[2018-07-26 18:50] juanscelyg opened #296 "Problems with gzserver. Assertion. [gazebo-2] exit code 134"
Hi everyone,

I have a problem when I launch the rov launch to spawn into the world. The rov has made by myself. However, this problem doesnt pass when I launch the RexRov launch. It is so complicated to show the every files in the project but if you need to see the problem, you just tell me and I will load the files.

The error is below:

`gzserver: /home/juanscelyg/catkin_ws/src/uuv_simulator/uu

[2018-07-27 14:23] Nirzvi1 commented on #291
The rotors_simulator method seems like it should work fine for our purposes, so I vote for that method. I also like the extra simplicity.
Thanks for doing this!

[2018-07-27 15:47] juanscelyg commented on #296
Finally, I found the error.

I had the drag parameters with positive values, the simulator needs always negative values. It was a stupid error, I know it.

Close the issue.

[2018-07-27 15:47] #296 closed

[2018-07-31 21:57] yezhenzhao opened #298 "Side-scan sonar support?"
Hi, I am doing some research about underwater mapping.
Will your project support side-scan sonar in the future?
Thank you!

[2018-08-02 13:37] andrehschmid opened #299 "Create tag for the latest commit in master branch 3dfac9ea57f119009497d41207f632ae8d766c70"
The latest commit in branch master (3dfac9ea57f119009497d41207f632ae8d766c70) wasn't tagged.
The last tag was 0.6.0 and it's pointing to c21f71819cae0bf46f0b7b46ccb859eab9904a14.
Could you please create a new tag for the new stable version?

[2018-08-02 14:44] tonybaltovski commented on #291
@musamarcusso I think this might need to have distro specific branches since Gazebo changes version depending on the ros distro.  Having some experience maintaining, I generally have a branch for the ros version the repo was developed for.  I continue to release that in new ros distros till there are changes specific to that distro or I want to implement breaking changes/behaviours.  With that sai

[2018-08-03 08:34] musamarcusso commented on #291
Hi @tonybaltovski,
that is a good point, the changes in Gazebo have to be considered in these cases. I don't know how easy or sustainable it can be to keep the current method (the plugins not have tests for the current `GAZEBO_MAJOR_VERSION` to have code adapted to each version of the Gazebo API).
I am reading currently the thread on ROS Discourse on [branching strategies for ROS projects](https:/

[2018-08-14 12:58] musamarcusso commented on #291
Just an update: I am waiting for the needed authorization on my end here to make this release. I hope it will be granted as soon as possible.

[2018-08-14 15:44] tonybaltovski commented on #291
@musamarcusso awesome, thanks for the update!

[2018-08-16 21:19] jzhu1234 opened #302 "Unable to Simulate Faster than Real Time"
Hi, I am trying to simulate faster than real time with the eca_a9 UAV that uses the auv_geometric_tracking_controller to follow a series of waypoints. To do this, I have tried changing Gazebo's world max_step_size and/or real time update rate to simulate 5x faster than real time. However, the controller is unable to follow waypoints and the robot goes all over the place instead.

Are there update

[2018-08-17 11:35] awtreth opened #303 "demo_wp_trajectory_generator.y is not compatible with library"
I could not run demo_wp_trajectory_generator.y, because it is not compatible with _uuv_trajectory_generator_ module. Examples of incompatibility:

- WaypointSet and Waypoint comes from uuv_waypoints, not uvv_trajectory_generator
- WPTrajectoryGenerator.set_interp_method does not exist (must be repacled by WPTrajectoryGenerator.set_interpolation_method)

[2018-09-14 00:06] JacksonHShields opened #304 "'start_waypoint_list' service not complete"
First - this simulator is amazing, thank you so much for making this open source. It is a great help for my research.

I am trying to send waypoints to the rexrov from an external waypoints package, that I use to control my surface vessels.
The issue is the backend for the 'start_waypoint_list' service is not complete. When calling this service with the correct fields it comes up with:
[code]
This

[2018-09-20 23:31] gmyFighting opened #305 "How the robot call these sensor plugins"
Hi, im new to Gazebo, would you tell me, How the rexrov find these sensor plugins? I check the source code, but i don't find which codes use the sensor plugins~ Thank you!

[2018-09-22 23:57] pushkalkatara opened #306 "[Question] uuv_trajectory_control - auv_geometric_controller.py"
Does the package track the trajectory based on output thrust?
The case in which AUV's velocity is not available due to unavailability of DVL sensor. Is it possible to develop pose of the vehicle on the basis of output thrust, pressure sensor data or imu data? Or fusing multiple sensors to improve tracking? Please share relevant resources if possible.

[2018-09-23 04:29] KenanA17 opened #307 "What is the standard way for implementing motion planning algorithms?"
Hello, I'm trying to implement some planning algorithms for multiple vehicles. Now I can send a waypoint file (by using the provided ros service for that) and that works fine, if I were to calculate all points before the simulation (or somehow dynamically build needed yaml files during the simulation). I could also use the service 'go_to' for giving reference points, which are calculated via the a

[2018-09-24 15:06] szat opened #308 "Is absolute/gps position necessary?"
Dear all,

I have just started looking at this amazing project. I saw that the topic
/rexrov/gps
seemed unused with no subscribers, but on the other hand the node "VelocityControl" was subscribing to odometry from the topic
/rexrov/post_gt
But unwater robots don't have access to gps and hence no access to absolute position, right? How does that work, what are the poses in /rexrov/post_gt that are

[2018-09-24 15:52] szat commented on #308
I have the feeling that it has to do with this bit of code:
[code]
Is that correct, do I need to change something here in order to not use global / gps coordinates?

[2018-10-26 14:41] NickSadjoli commented on #195
Hello, I would like to have this issue reopened if possible, since I am having a similar problem myself. I am currently using Gazebo 7.14, with ROS Kinetic Kame, Ubuntu 16.04 LTS. Initially I ran the ocean_waves.launch and get the following rendering from one of the cameras

![ocean_wave-yellowblack](https://user-images.githubusercontent.com/22964670/47573169-3ba3fc00-d96f-11e8-80e1-a7131f71139d.p

[2018-10-30 14:06] TobyThomasTech opened #309 "Environmental load due to waves"
Hi, Thank you for sharing your work. I am starting a project to develop a simulator for marine autonomous surface vehicles and the first step is to develop a simulator with good accurate simulation of vessel motion in waves. I found that in the paper titled "UUV Simulator: A Gazebo-based Package for Underwater Intervention and Multi-Robot Simulation" it was mentioned that environmental loads due t

[2018-11-22 16:17] romulogcerqueira commented on #25
Hi all,

I am also interested in dealing with these features. Any update about this enhancement?

Thanks in advance.

[2018-11-22 16:20] romulogcerqueira commented on #48
Hi @nilsbore,

I'm looking forward to seeing your progress with adapting the sonar to the UUV simulator. Please let us know! =D

[2018-11-23 07:26] arturmiller opened #312 "spawn_model has no file ending"
Hello,

I have stumbled about the renaming of spawn_model.py to spawn_model. It is in fact a python module, and now it has no file ending. This looks for me like a mistake, or is there a reason for this.
Here spawn_model.py is deleted and the renaming in the launch files are done: https://github.com/uuvsimulator/uuv_simulator/commit/bf65a9283b2d057ca9442ae7389161a09affea24

Best regards

Artur Mil

[2018-11-28 20:44] musamarcusso commented on #309
Hi @TobyThomasTech, I am glad it is helpful in your project. This is one of the next features to be worked on but I have no time plan for this yet. Since some changes happened in the project (the EU-Project where the UUV Simulator was a part of has ended this year), I am now reorganizing the feature requests and bug reports to keep maintaining. I will keep the feature requests updated here https:/

[2018-11-28 22:54] musamarcusso commented on #298
Hi @yezhenzhao, I still have no time plan for that but it is something I really want to implement/cooperate on now. The EU project for which this simulator was mostly developed has ended and now I am picking up from where it ended to keep maintaining the packages. I will certainly add this to important feature requests.

[2018-11-28 22:55] musamarcusso opened #313 "Implementation of wave load simulation"

[2018-11-28 22:59] musamarcusso commented on #304
Hi @jacksonhshields, thanks for spotting this. If you are still willing to, a pull request would be most welcome. Let me know if you need any help or if you would rather have me do the changes.

[2018-12-06 07:46] Timple opened #320 "namespace is hardcoded in GPSRosPlugin"
We use the IMURosPlugin and the GPSRosPlugin for our robots. But we don't use namespaces in tf since they are deprecated.

The `frame_id` of the IMURosPlugin is defined as follows:
`this->imuROSMessage.header.frame_id = this->link->GetName();`

Whereas the `frame_id` of the GPSRosPlugin is defined like this:
`this->gpsMessage.header.frame_id = this->robotNamespace + "/gps_link";`

Coult the GPS ve

[2018-12-17 09:03] Timple opened #323 "Since there is a lot of refactoring going on I'd like to stick to a version tag for the moment"
Would it be possible to git-tag the versions of your repository?

So tag 0.6.2 would point to commit 9b3e9fe7a6d9e2c90a1eb2febb83e9b0af1ad894 for example.

Thanks :-)

[2018-12-26 18:16] YanielCarreno commented on #220
Hi there,
I am now working with the uuv_simulator, and  I am facing the same error with the sonar sensor. I am using gazebo7 which is actually different to the version that you are working with. I am just wondering if  you find a way to fix the error.
Regards.

[2019-01-04 16:12] srmainwaring commented on #108
Hi, I have a similar interest in modelling buoyancy for surface vessels in Gazebo and this seems to be the place where it's being discussed. I've made some progress using the approach mentioned above and would be happy to share if there is any interest.

I have a working example that supports objects defined using gazebo primitives or meshes that may be composed of one or more links. The wave fiel

[2019-01-04 18:12] jake3991 commented on #48
Was any progress made on the FLS?  I'm also looking to utilize.

[2019-01-06 17:32] BAJUKA opened #324 "Wrong package name in quick start in docs"
In the quick start of the docs, it is given,
roslaunch uuv_descriptions empty_underwater_world.launch
but I guess it should be
roslaunch uuv_gazebo_worlds empty_underwater_world.launch
since this launch file is not present in uuv_descriptions but present in uuv_gazebo_worlds

[2019-01-15 15:06] tonybaltovski opened #325 "Release 0.6.3"
Hi, could you please bloom 0.6.3?

[2019-01-17 09:22] AndYanghlh commented on #220
Hi,@musamarcusso I am now facing this problem too ,and it really troubles me a lot. Have you found out the reason? thanks a lot

[2019-01-21 23:10] musamarcusso commented on #325
Hi, I have but I am running into some issues on the Jenkins server. I am looking into that.

[2019-01-21 23:13] musamarcusso commented on #320
Hi @Timple. I will have a look into that. I made it that way because the project was thought to always have the namespace because of the number of vehicles being simulated at the same time.

[2019-01-22 15:54] tonybaltovski commented on #325
Anything I could help with?

[2019-01-24 07:51] steenstral opened #327 "DVL plugin causes Gazebo to crash when deleting UUV model"
Hi,

I encountered a problem while using the DVL sensor plugin. When I try to delete a UUV model (with a mounted DVL sensor) from the world, Gazebo crashes giving the following error message:

`terminate called after throwing an instance of 'boost::exception_detail::clone_impl<boost::exception_detail::error_info_injector<boost::lock_error> >'
  what():  boost: mutex lock failed in pthread_mutex_lo

[2019-02-01 13:25] Timple opened #328 "Tutorial not working"
I'm trying to follow this tutorial:
https://uuvsimulator.github.io/tutorials/create_new_vehicle.html

<pre><b>rosrun uuv_assistants create_new_robot_model --robot_name testbot</b></pre>
[code]

Then I'm starting a simple environment for testing the robot:

<pre><b>roslaunch uuv_gazebo_worlds lake.launch</b></pre>

And start the bot:

<pre><b>roslaunch testbot_description upload.launch</b></pre>

[

[2019-02-05 08:43] Timple opened #332 "Release for melodic"
I noticed you are in a releasing mood anyway. So maybe it is a good idea to release for ROS melodic as well. Since we plan on migrating ourselves this would save us a lot of compiling :)

[2019-02-05 08:47] musamarcusso commented on #332
Hi @Timple, I am already working on this. I have Travis building the package for `melodic` currently. I only have to figure out a dependency (`message_to_tf`) that hasn't been released for `melodic`. When I fix this I can make the release.

[2019-02-10 04:58] ananmayjain opened #334 "Mavros with SITL"
Hi, I was trying to run the simulation with mavros and sitl.

For sitl, I was using the ardupilot git repo, and basically ran sim_vehicle.py in the Ardusub directory.

Sitl doesn't seem to connect to RexRov. Any knowledge on how to get it working?

[2019-02-11 10:22] cgtySariman opened #335 "Simulation with multiple slender bodies"
Hi,

I am trying to use UUV Sim to simulate some passive robots (without any thruster) in underwater environments. But I am getting several errors.

My robots have slender body properties. Normally, they have shapes similar to a torpedo, but for simplification, I model them as boxes in urdf files. All of their parameters (mass, volume, etc.) are calculated according to their actual shape. I am usi

[2019-02-14 13:35] gijskoning commented on #332
I would really like to see this too. Is it possible to create a work around with robot localization for now?

[2019-02-14 13:50] musamarcusso commented on #332
I am looking into reimplementing or including the necessary module in this package to solve this problem. It is basically only one .cpp file so it seems to me that including it with the proper documentation into the `uuv_simulator` can be justified in order to have the release ready.

[2019-02-14 15:10] gijskoning commented on #332
I downloaded message_to_tf and it builds just fine. I tried simulating a robot and that also worked fine.

[2019-02-14 15:24] musamarcusso commented on #332
I also clone the package in the [Travis build configuration](https://github.com/uuvsimulator/uuv_simulator/blob/master/.uuv_ci_config/ros_melodic.sh) for `melodic`. It seems to be the only dependency missing

[2019-02-17 02:22] noahl1 commented on #199
Had a similar problem

[2019-02-17 03:36] arainbilal opened #340 "Failed to show texture in new seabed"
Following the tutorial "making a simple seabed" (https://uuvsimulator.github.io/tutorials/seabed_world.html), the texture is not appearing properly. I think there is more to do in the Blender when exporting the mesh to Collada DAE file for the Gazebo world. Indeed, it can be seen in the tutorial page that the sand.material is used for a texture but when its imported in Gazebo, it is no where close

[2019-02-18 04:57] JustBenj commented on #199
I just resolved this issue for myself. The problem was the propeller collision mesh intersecting with the base_link collision mesh. Make sure the position of your thruster is correct and that the scaling of your collision meshes are appropriate and you should have no issue. Hope this helps!

[2019-02-18 13:43] szat opened #341 "launch files missing for the quick start manual"
Hello!
It seems that some of the launch files in uuv_simulator/uuv_descriptions/launch  are missing.
For instance "empty_underwater_world.launch". But they seem to be there if you do
cd catkin_ws/src/uuv_simulator
git checkout 5878f11

It would be nice to commit the descriptions in the tutorials to the latest version.
:)

[2019-02-20 06:59] NickSadjoli commented on #48
Hello @nilsbore! It's been a while since this thread was started, however may I know how is the progress on the FLS simulation so far? I am looking forward to utilizing the sonar simulation you are working on in Gazebo as well and hopefully you have some more progress going on after that

[2019-02-20 06:59] NickSadjoli commented on #48
*after the last update that you had in here.

[2019-02-20 08:59] nilsbore commented on #48
Hi all, I'm sorry I haven't been able to make much progress on this topic. The sensor simulation is open source and available here: https://github.com/smarc-project/smarc_simulations/tree/master/smarc_gazebo_plugins/smarc_gazebo_ros_plugins . It's called the `gazebo_ros_image_sonar`. Even though we're using a somewhat dated version of uuv_simulator, this plugin only depends on gazebo and so should

[2019-02-20 10:06] NickSadjoli commented on #48
Noted @nilsbore ! Thank you so much for the update. I'll try and make improvements for this sensor as well then so that it's performance can be improved.

Really great update and progress so far! Looking forward to further updates on this project and really nice job @nilsbore!

[2019-02-21 02:03] tfoote opened #342 "uuv_description does not build in debs on Kinetic"
It looks like a missing dependency on gazebo.

http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__uuv_descriptions__ubuntu_xenial_amd64__binary/15/console
[code]

[2019-02-24 08:23] PanosMallioris commented on #108
Hello i have also tried to made a water surface simulation you can check the video

https://www.youtube.com/watch?v=NHfNfg2vhMc

And the repository

https://github.com/PanosMallioris/Autonomous-Marine-Exploration-Water-Simulation-ROS-GAZEBO

[2019-02-27 12:03] TomW1495 opened #344 "Finned vehicle has unusual behaviour in currents"
Hi,

I have been using uuv_sim for a few months now in a project simulating a relatively large finned auv. I first just want to say thank you for this piece of work as it has been fantastic, and I haven't had a major problem that has stumped me until now.

The vehicle has behaved as expected under ever scenario so far, however my issue comes when introducing a constant current (currently just hori

[2019-02-27 15:22] TomW1495 commented on #344
Problem found, solution for anyone else with similar problem:

I based my model by adapting the eca_a9 sub, and the eca_a9_base.xacro and eca_a9_snippets.xacro have contradicting "current_velocity_topics"

[2019-02-27 15:22] #344 closed

[2019-02-28 17:22] musamarcusso commented on #342
I am making alteration to solve this at #345. I used an old example to use `find_package(gazebo REQUIRED)` instead of the package `gazebo_dev` for a long time. Since the builds were still passing, I couldn't catch this before. I will merge it as soon all tests pass and make a new release.

[2019-02-28 17:23] musamarcusso commented on #341
Hey @szat, thanks for seeing this, I will update everything as soon as I tackle the `kinetic` release issues. I am having now.

[2019-02-28 17:25] musamarcusso commented on #340
Hi @arainbilal, thanks for the heads up. I will check the documentation. Blender is indeed quite a challenge.

[2019-02-28 17:27] musamarcusso commented on #334
Hi @ananmay3, could you provide some logs or some error message from the tests your are doing? Maybe with more information I can help you a little better. I am not very familiar with mavros or sirl unfortunately.

[2019-02-28 17:29] musamarcusso commented on #332
Hi @Timple, I just made the transfer of the `message_to_tf` node with proper 3rd party documentation to this repository at #345  so I think once the pre-release tests are run I can start working on the `melodic` release.

[2019-03-01 05:37] szat commented on #341
No worries, it's a great project you have here! I thought I'd help out a bit :)

[2019-03-01 08:15] arainbilal commented on #340
Hi @musamarcusso . Thanks. I have now attached the gazebo world images showing the tutorial seabed and the sand_heightmap, which may help to elaborate the issue. In both files, I have used the sames material in the sdf file as follows:
`<uri>file://tutorial_seabed_world/materials/scripts/sand.material</uri>`
The objective is to display the sand material on the tutorial seabed, similar to the one s

[2019-03-01 22:23] Mojzaar commented on #108
Hi,
I was looking for a compatible simulator with ROS to simulate a wavy ocean.
I studied the Kelpie's paper but I could not find their package in GitHub. Do you know where can I find that?

[2019-03-04 23:22] jzhu1234 opened #347 "auv_geometric_tracking_controller saturates fin angles instead of normalizing them"
In auv_geometric_tracking_controller.py, lines 284-287, I believe the code is supposed to normalize fin angles. However, it is doing the opposite and is increasing the fin angles.

Original:
if max_angle >= self.max_fin_angle:
   fins = fins * max_angle / self.max_fin_angle -> fins * (some value greater than or equal to 1)

Correction:
if max_angle >= self.max_fin_angle:
   fins = fins * self.max_

[2019-03-06 17:07] willcbaker commented on #48
I've cherry picked from @NickSadjoli and @nilsbore to try and get somethign FF from master. Seems like you both have diverged in different ways.

Would be nice to have you guys take a look and comment/commit so this could be used by others.

[2019-03-10 00:12] ksakash opened #349 "Gazbeo crashing when the mass of the model is low"
Putting a vehicle which is even lower than 500 kgs in weight crashes the gazebo, maybe because of the huge hydrodynamic forces produced by the hydrodynamics plugin based on fossen's model.

[2019-03-10 23:18] ayushzenith commented on #59
I had the same issue and

`export LIBGL_ALWAYS_SOFTWARE=1`

managed to solve it

Thanks

[2019-03-11 04:32] #349 closed

[2019-03-12 07:44] #59 closed

[2019-03-12 10:08] musamarcusso commented on #48
Hey @NickSadjoli, could you link to the repository where this sonar is implemented, if there is one?

[2019-03-13 06:28] NickSadjoli commented on #48
@musamarcusso Apologies for not providing the links before. I have a working branch that has a working example of this sonar onto the Rexrov UUV, but please do note that this branch contains other not-working experimental code that I tried previously to recreate the FLS mentioned in the referred paper.

Other things or changes to note that was added or of use in this branch:
- A customized test wo

[2019-03-13 20:04] musamarcusso commented on #332
I just did the releases for `melodic` and `lunar` yesterday. Things are looking good in the Buildfarm. I think the packages should be out by the next sync.

[2019-03-13 20:04] #332 closed

[2019-03-13 20:05] musamarcusso commented on #342
Issue fixed on release `0.6.10`

[2019-03-13 20:05] #342 closed

[2019-03-13 20:07] musamarcusso commented on #325
Hey @tonybaltovski, the packages are now being built for 0.6.10. There were a lot of issues generating the debian packages in the build farm but now everything seems to be fine. I also released 0.6.10 for `lunar` and `kinetic`.

[2019-03-13 20:07] #325 closed

[2019-03-13 20:08] musamarcusso commented on #157
Now released for `lunar`.

[2019-03-13 20:08] #157 closed

[2019-03-13 20:09] musamarcusso commented on #347
Hi @jzhu1234, thanks for the report. I will have a look into this issue right away.

[2019-03-15 19:42] jzhu1234 opened #351 "Incorrect Coefficient of Drag Calculation in LiftDragModel.cc"
The compute function in LiftDragTwoLines::compute produces a negative drag when the angle of attack is negative. In other words, it produces thrust when the angle of attack is negative.

This occurs because of how coefficient of drag is calculated. Unlike coefficient of lift, which should change signs based on the sign of the angle of attack (alpha), coefficient of drag should always stay positive

[2019-03-15 19:55] musamarcusso commented on #351
Hi @jzhu1234, did you manage to test this? I can try it out too, but it would be good to compare with your results.

[2019-03-15 20:01] jzhu1234 commented on #351
I tested it by temporarily removing lift force so I could see the direction
of the drag forces in RViz. I used a similar model to the ECA A9, except
the fins are in a plus configuration.

With the current branch, in RViz I could see the drag forces go in opposite
directions when I told the vehicle to dive, rise, or turn.

On Fri, Mar 15, 2019 at 3:55 PM Musa Morena Marcusso Manhães <
notifications

[2019-03-18 08:23] musamarcusso commented on #351
is it possible to provide your configuration for a test scenario so I can reproduce it here?

[2019-03-18 15:52] jzhu1234 commented on #351
iver_base.xacro -  The vehicle we model is smaller than the eca-a9, so the x and y values would have to be adjusted.

    <xacro:fin_macro namespace="${namespace}" fin_id="0">
      <origin xyz="-1.05 -0.07366 0" rpy="${90*d2r} 0 0" />
    </xacro:fin_macro>

    <xacro:fin_macro namespace="${namespace}" fin_id="1">
      <origin xyz="-1.05 0 -0.07366" rpy="${180*d2r} 0 0" />
    </xacro:fin_macro

[2019-03-20 07:21] musamarcusso commented on #268
Many scripts in the package need to be Python 3 compatible, too. Apart from, for example, applying the suggested changes from [ROS Python 2 and 3 compatibility](https://wiki.ros.org/python_2_and_3_compatible_code), does anyone have any idea on how to automate tests for Python 2/3 compatibility in Travis CI? As far as I now, the images used there still have Python 2.7 as default.

[2019-03-20 18:33] Sollimann opened #352 "Rigid-body Coriolis forces not included in the hydrodynamic model"
According to Fossen's Robot-Like Vectorial Model for UUV (eq. 6.2 on page p.109) there should also be included a rigid-body Coriolis force, why is this not included?

Also, I cannot seem to find where the hydrostatic forces are computed. Where can I find this in the code?

Keep up the good work!

[2019-03-21 19:54] jlack1987 commented on #352
The rigid body dynamics are handled by Gazebo. The plugin(s) provided by this package only add the hydrodynamics forces

[2019-03-22 05:36] russkel commented on #268
Any objections to using the python-future package https://python-future.org/ for compat?

[2019-03-22 07:01] musamarcusso commented on #268
No, I am using it already in the Python code I write now to be sure it will work. My biggest concern is that I can't easily set up the CI system to actually run the tests and code with Python 3 automatically to see if it fails or not.
Some differences also regard packages that have been refactored for different Python versions or even some Python 3 dependencies that will not be found by `rosdep`.

[2019-03-22 08:23] russkel commented on #268
Okay. Looking at the Travis CI runs, they take a long time (50+ minutes!) and seem to be timing out setting up the environment. I am not very familiar with Travis, but it [does seem to allow](https://docs.travis-ci.com/user/docker/) using Docker images. If it's unable to set up the environment in a timely fashion maybe it should be migrated to use a Docker build environment? ROS provides a number

[2019-03-22 10:31] musamarcusso commented on #268
Yes, I had to tweak some configurations because I was getting some errors (e.g. setting the maximum number of jobs to build the catkin workspace to 1), which also makes the process take a lot longer.
The Travis configuration right now is already using the [ROS Industrial CI](https://github.com/ros-industrial/industrial_ci) infrastructure with caching, but I think using the free Travis CI has some

[2019-03-22 11:35] russkel commented on #268
Oh I see! I only looked at one failed build log and it terminated as it was configuring/installing dependencies. If it is a resources issue then docker is unlikely to solve it.

I apologise if I am misunderstanding, is that a problem? It could be arranged with a number of docker containers: three kinetic, lunar and melodic containers running 2.7 and one melodic container running 3.6. And yes, the

[2019-03-22 12:29] musamarcusso commented on #268
I think you are right. Maybe setting up some of the builds to just do something like `alias python=python3` should be enough. I can't say how many packages will need to be installed separately.
Maybe on the long run, however, making requests to add the missing Python 3 packages at [rosdistro's list](https://github.com/ros/rosdistro/blob/master/rosdep/python.yaml) instead of setting up an extra ins

[2019-03-27 17:12] jellevos commented on #291
@musamarcusso Is there any way we can do this manually with the current version? UUV simulator is currently in this list: https://github.com/ros/rosdistro/blob/master/melodic/distribution.yaml

But trying to actually depend on it results in an error during rosdep install.

[2019-03-31 23:49] milan-r-shah commented on #324
Hi Bajuka,

I'm also facing the same issue but after following your instructions I found that both commands:
01. _**roslaunch uuv_gazebo_worlds empty_underwater_world.launch**_
02. _**roslaunch uuv_gazebo_worlds ocean_waves.launch**_
are giving the same output.
Is it a bug and you are also getting the same thing?

Thanks a lot in advance!

[2019-04-01 01:24] milan-r-shah commented on #341
Hi @szat
I'm also facing the same issue.
Thanks for drawing the attention of the contributors.

[2019-04-01 07:46] BAJUKA commented on #324
Running the above two commands worked for me. Did you  **_source devel/setup.bash_** in your workspace before you ran these commands?

[2019-04-02 15:19] milan-r-shah commented on #324
Hi @BAJUKA ,
Thanks a lot for your quick response.
Yes, I ran **_source devel/setup.bash_** . In fact, I have put that command in my .bashrc file. The problem is for two different launch files (uuv_gazebo_worlds empty_underwater_world.launch & uuv_gazebo_worlds ocean_waves.launch), I'm getting the same output.
So, that's expected or there is any problem/bug?

[2019-04-04 07:11] zrum opened #354 "Control ROV from keyboard"
Is it possible to control de ROV without a joystick?

[2019-04-06 12:09] gijskoning commented on #291
I just checked and the packages are released and available to install!

[2019-04-06 19:29] chyphen777 commented on #48
Hi, @NickSadjoli
I am trying out your uuv_simulator-realistic-sonar-sim-48.  The first error I got was "missing uuv_laser_to_sonar/launch" during catkin_make install.  I created an empty launch folder as a work-around.  Then I ran "roslaunch uuv_gazebo_worlds test_turbid_water.launch" and got several errors, including
1. [Err] [gazebo_ros_image_sonar.cpp:160] We do not have clip.
2. gzserver: symb

[2019-04-07 23:13] chyphen777 commented on #48
Hi, @NickSadjoli
After tracking down errors, it turns out that opencv libs were not properly linked.  As a work-around, I added required opencv libs expclicitly to image_sonar_ros_plugin.  Please let me know if there is better ways to fix the original error.

I also notice my_frame (and map) either is not defined or not getting tf from world.  Any idea how to fix the problem?  Thanks for your cont

[2019-04-08 00:01] russkel commented on #268
Hello @musamarcusso I am currently working with docker at the moment and will try to find some time to create some custom Dockerfiles to do what I described above in the near future.

[2019-04-09 19:39] Paulinion opened #355 "Negative gps values instead of positive"
Hello, when i subscribe on /rexrov/gps it returns  negative coordinates, but spherical coordinates in world file is positive. What is the problem ?

[2019-04-09 21:18] #355 closed

[2019-04-12 07:25] zrum opened #356 "Launch Sensors"
In the video you show a lot of Sensors loaded in rqt but in the tutorials and documentation you dind't show how to launch them, is there a specific code or is needed to add other repositories for that.

[2019-04-12 13:39] NickSadjoli commented on #48
Hello @chyphen777!

Apologies that this is a very late reply to your enquiry.

The error on the missing launch file was likely caused due to me including several directories that weren't going used in the FLS simulation anyways, causing messy CMake-s. I have updated my branch to clean this up, which should fix for such errors now. However unfortunately it seems that I have accidentally deleted som

[2019-04-12 13:53] NickSadjoli commented on #48
Hi @chyphen777,

I have just made some minor modifications to the current branch and it seems to be working fine in my machine now, so you should be able to just switch to this branch and have everything be compiled with catkin_make install.

However, it is to be noted that the branch seems to be unstable at times and you might encounter the following type of error:

![current_branch_not_stable](h

[2019-04-16 17:21] chyphen777 commented on #48
Hi, @NickSadjoli:

Thanks for the reply, fixes and useful information.  I am able to run your sonar simulator.  Sorry for late reply.  I was side-tracked to other projects.  Please keep us  posted on any update.
Regards, C. Chien.

[2019-04-16 17:50] romulogcerqueira commented on #48
Hi @NickSadjoli and community,

I am the author of sonar simulator implemented in the paper "A novel GPU-based sonar simulator for real-time applications".  The original source code is available in https://github.com/romulogcerqueira/sonar_simulation-buildconf/.

Let me know if you need some help with the simulator.

Best regards,

Rômulo

[2019-04-17 23:16] musamarcusso commented on #268
Apparently one way to check (or debug) for the compatibility issue is to run the Python script file using

[code]

with Python 3. I will made the changes for the Python scripts (Python modules are next) in #357

[2019-04-24 05:41] russkel commented on #268
That should catch the syntax changes, however there may be some sneaky runtime incompatibilities.

FYI Looks like environment variables were added for python version https://github.com/osrf/docker_images/pull/256

[2019-04-26 13:34] Eberty opened #359 "Plugin error"
`[Err] [Plugin.hh:165] Failed to load plugin libuuv_underwater_current_ros_plugin.so: libuuv_underwater_current_ros_plugin.so: cannot open shared object file: No such file or directory`
`[Err] [Plugin.hh:165] Failed to load plugin libuuv_sc_ros_interface_plugin.so: libuuv_sc_ros_interface_plugin.so: cannot open shared object file: No such file or directory`

[2019-04-26 19:57] #359 closed

[2019-05-10 11:28] dbcesar opened #360 "Camera only sees seabed when perpendicular to it"
Hello all,

I'm currently having problems to see the seabed texture of the ocean_box model on my camera.

I've played around with the camera position and it seems that the camera only renders the texture when it is pointing directly to the ground.

See these pictures:
![Screenshot from 2019-05-10 13-03-49](https://user-images.githubusercontent.com/8384920/57523606-b5a53c80-7325-11e9-9432-3f3072864

[2019-05-10 13:10] castilloherrera opened #361 "Rectangle path"
Hi,

I try to do a rectangular trajectory, Do you have some document where I can read for how  to implement it?

Thanks.

[2019-05-24 13:32] #361 closed

[2019-05-27 01:16] nm46nm opened #364 "Is there hydrodynamics in the models?"
Is there hydrodynamics in the models? Or it is just a model of water and there's not hydrodynamics?
If there is hydrodynamics, where can I find corresponding codes?

[2019-05-28 16:00] Sollimann commented on #364
Rigid-Body kinetics are already included in Gazebo:
Rigid-body kinetics are: M_RB * v_dot + C_RB * v = tau_RB

Hydrodynamics and hydrodynamic damping are added through the uuv_simulator:
-M_A * vr_dot - C_A * vr - D * vr = tau_hydro

Hydrostatics g(n) are included through free-floating plugin

[2019-05-28 19:34] amamory commented on #364
for hydrodynamics for USV (winds and water current) you might take a look a this project
https://github.com/disaster-robotics-proalertas/usv_sim_lsa
We have plans to support UAVs with winds 'soon'.
It does not support UUV yet and there is no near future plan to include it.

[2019-05-30 10:58] musamarcusso commented on #364
The underwater object plugin might be what you are looking for: https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_gazebo_plugins/uuv_gazebo_ros_plugins/src/UnderwaterObjectROSPlugin.cc

[2019-05-30 12:11] musamarcusso commented on #360
Hi, could you send a snippet of the URDF robot description you used where you add the camera to the vehicle?

[2019-05-30 12:30] nm46nm commented on #364
I found uuv_simulator/uuv_gazebo_plugins/uuv_gazebo_plugins/src/HydrodynamicModel.cc and I think it's about hydrodynamics. Thanks for your reply and I will have a look of UnderwaterObjectROSPlugin.cc as well.

[2019-05-30 12:30] #364 closed

[2019-05-30 14:28] musamarcusso opened #365 "Tracker: Features, Bugs and Documentation"
Hello everyone,

I am trying to make a list of the all the features/bugs/documentation tasks that need to be finished soon, so I am creating this issue tracker here that I will be updating and listing so I can have a better overview. Please, feel free to add a comment on what you any improvements or fixes you think are most important for you and your project, it will help a lot. All contributions

[2019-06-21 06:10] nm46nm opened #367 "how to get the velocity of rexrov?"
I launch the start_pid_demo.launch, and control the rov by publishing velocities to the topic rexrov/cmd_vel. But how can I get the real velocities of the robot. I only found the ground_truth_to_tf/pose but there's no ground_truth_to_tf/velocity.

[2019-06-24 18:48] MichaelFleming commented on #48
@NickSadjoli great work. I'm using the simulator and it works for me. However, the transforms are not making it to rviz. I believe it to be an issue with the JointStatePublisher because when the joint is changed to "fixed" from "revolute" the transforms are in rviz. Of course, doing so breaks the functionality of the sonar simulator. Any updates or tips would be appreciated

[2019-07-02 13:32] rameshcpoonia commented on #174
Hi, Which simulator I can use for Autonomous Surface Vessels. Can you suggest me better simulator for path planning and collision avoidance?

[2019-07-08 07:21] liqsuq opened #369 "Trajectory demo got error"
I built this project by "catkin build" and tried samples.
But I found following error in "roslaunch rexrov2_gazebo start_demo_pid_controller.launch"
on the page of [Path and trajectory generators](https://uuvsimulator.github.io/packages/uuv_simulator/docs/features/path_and_trajectory_generation/).
The purple line was not shown and UUV couldn't be controlled.
[code]

I thought the cause is that rov

[2019-08-13 13:16] arturmiller commented on #220
Hello, I had the same issue with Gazebo7 and Gazebo9. In my case the problem was related to problems with the GPU.
I have found an issue where others had the same problem:
https://bitbucket.org/osrf/subt/issues/11/x2-laser-scanner-data-not-valid
A fix, which worked for me is to use the CPU instead of the GPU (performance will decrease). For that you have to change to lines: https://github.com/uuvs

[2019-08-18 07:01] arturmiller commented on #312
Omitting the ".py" ending is something, which is done often in ROS. The reason for that is to make these Python scripts interchangeable with executables written in C++.

[2019-08-18 07:01] #312 closed

[2019-08-26 00:03] JoseBiescas commented on #35
Is there a possibility that this will be updated soon? I was wondering if the uuv_tutorial_rov_model would also work for an AUV model, or should i follow the lauv documents to recreate one?

[2019-08-27 20:16] Sollimann commented on #359
@Eberty I am having th exact same issue. Did you figure it out?

[2019-08-27 20:21] Sollimann opened #372 "[Err] [Plugin.hh:165] Failed to load plugin libuuv_sc_ros_interface_plugin.so"
I am trying to launch an underwater environment but get the following error:

[Err] [Plugin.hh:165] Failed to load plugin libuuv_sc_ros_interface_plugin.so: libuuv_sc_ros_interface_plugin.so: cannot open shared object file: No such file or directory

![roslaunch](https://user-images.githubusercontent.com/25263842/63805121-01054a00-c919-11e9-961e-5480ecdfa72a.png)

Any idea for to fix this?

[2019-08-27 22:00] Sollimann commented on #359
Ok, thank you. what do you mean by "There was a PR in this epoch"? Do you
remember how you managed to fix it?

On Tue, Aug 27, 2019 at 11:49 PM Eberty Alves <notifications@github.com>
wrote:

[2019-08-28 07:44] liqsuq opened #373 "Error, trying launch start_demo_nmb_sm.launch in both lauv and eca_a9."
I will try to launch start_demo_nmb_sm.launch after I succeed start_demo_auv_control.launch and start_demo_teleop.launch.

I launch world fine, but I got following error  when I launched start_demo_nmb_sm.launch.

Maybe the main cause is start_control_allocator.launch and invalid "output_dir" arg...
I couldn't know how I should modify.

[code]

any help?

[2019-08-28 07:49] liqsuq commented on #373
The model is certainly spawn, but not be controlled, only floating to the surface.

[2019-08-28 14:43] Sollimann commented on #359
Thank you soo much for your help, Eberty. Really appreciate you taking your
time to answer. So the current status now is that I have been able to
install the uuv_world_ros_plugins again, and I don't get the error that I
did when launching an underwater world. However now, when I try to upload a
vehicle, I now get the following error:

[Err] [Plugin.hh:165] Failed to load plugin
libunderwater_objec

[2019-08-29 15:27] Eberty commented on #359
I think that is the same issue, try to find where `underwater_object_ros_plugin` and try to compile the package that create it again.

[2019-09-02 12:35] SaailN opened #375 "Regarding surface water vehicle simulation in ROS Gazebo"
I had gone through your github repo of uuv_simulator as i am working on a similar kind of project.
I am working on a simulation of unmanned surface water vehicle using ROS Gazebo. I tried to use hydrodynamics(buoyancy) plugin and aerodynamics(drag) plugin for water physics. But the hydrodynamics plugin is applied to entire world of gazebo due to which my robot goes up till infinity due to buoyant

[2019-09-07 11:36] ccs-ros opened #376 "ResourceNotFound: uuv_simulation_wrapper"
hi,when i run the command "roslaunch rexrov2_gazebo start_demo_pid_controller.launch teleop_on:=true joy_id:=0",the following erroe occurred!

ResourceNotFound: uuv_simulation_wrapper
ROS path [0]=/opt/ros/kinetic/share/ros
ROS path [1]=/home/ccs/catkin_uuv/src
ROS path [2]=/home/ccs/cartographer_ws/catkin_ws/src
ROS path [3]=/home/ccs/catkin_robot/src
ROS path [4]=/home/ccs/catkin_bluerov/src
ROS

[2019-10-10 14:06] ccs-ros commented on #220
Hi, @arturmiller I used your methord with Gazebo7,and the problem still exists.And here are some warnings:
[Wrn] [msgs.cc:1655] Conversion of sensor type[gps] not suppported.
[Wrn] [msgs.cc:1655] Conversion of sensor type[gpu_ray] not suppported.
[Wrn] [msgs.cc:1655] Conversion of sensor type[gps] not suppported.
[Wrn] [msgs.cc:1655] Conversion of sensor type[gpu_ray] not suppported.
[Wrn] [msgs.c

[2019-10-10 18:39] rooshm commented on #376
Same error with uuv_simulator installed from binaries for melodic

Resource not found: uuv_simulation_wrapper
ROS path [0]=/opt/ros/melodic/share/ros
ROS path [1]=/home/roosh/catkin_ws/src
ROS path [2]=/opt/ros/melodic/share
The traceback for the exception was written to the log file

[2019-10-11 01:40] ccs-ros commented on #376
I have solved this problem.Thank you!

[2019-10-11 01:41] ccs-ros commented on #376
I have solved this problem.Thank you! @rooshm

[2019-10-11 11:35] ccs-ros commented on #376
I have not put the package "uuv_simulation_evaluation" in the workspace before.So，this error  "Resource not found: uuv_simulation_wrapper" occured. @rooshm

[2019-10-11 16:41] max0619 commented on #376
Hey, I have the same error. How can I add uuv_simulation_evaluation to the workspace?

[2019-10-13 02:12] ccs-ros commented on #376
Just open terminal and enter your workspace,then "git clone https://github.com/uuvsimulator/uuv_simulation_evaluation.git".The error mentioned above will disappear.But when i run the catkin_make in the workspace,i met a new trouble：
CMake Error at /opt/ros/kinetic/share/catkin/cmake/catkinConfig.cmake:83 (find_package):
  Could not find a package configuration file provided by
  "uuv_simulation_ev

[2019-10-17 13:10] max0619 commented on #376
Ok, I solved the problem, too. I added the uuv_simulation_evaluation to my workspace as described above but i used catkin build (comes with catkin tools) instead of catkin_make (you eventually have to run catkin clean before using catkin build).

[2019-10-28 22:56] Quattrociocchi opened #382 "uuv_tutorials not included with apt install for melodic"
Using ```sudo apt install ros-melodic-uuv-simulator```  does not include the tutorial packages (unless I am missing something).

Can we get those packages included in the apt repositories?

Thank you for the awesome work! Hope to use this in our work.

Q

[2019-10-29 11:47] TheGreatLebowski opened #383 "Joint Control Widget"
Hello,

I started a project with uuvsimulator, yesterday I've built a simple project with a cube as body, and one propeller.

When I load the cube into Gazebo, and I click on PLUGINS-

 or

, I've got this error :

[Err] [JointControlWidget.cc:400] Error advertising topic

Also, (I don't know if there is a link), when I select the model, and change the value for the joint (In Newton-meter), the wh

[2019-10-29 15:05] TheGreatLebowski opened #384 "Exemple for controlling the vehicle"
Hello,

In the section _Configuring the thruster manager_ of the tutorial, it is written at the end

Can you add an example ? And also I don't understand where I should put the command ...

Thank you for your help !

[2019-10-30 12:23] TheGreatLebowski commented on #384
I've maybe found an example but he is not working :

[code]

But this error appears :

https://github.com/yaml/pyyaml/wiki/PyYAML-yaml.load(input)-Deprecation

A solution is available on this link, but doesn't work on my machine ...

Is my example wrong ? Or there is a bug ?

[2019-11-01 09:47] rooshm commented on #376
In case someone can't run catkin_build because their workspace has other components that need to be built, the following pull request https://github.com/uuvsimulator/rexrov2/pull/32 should work on non lunar workspaces

[2019-11-05 12:54] Emma365 commented on #365
More information/documentation about integrating sensors (such as DVL and GPS) would be very useful

[2019-11-13 13:19] Jannik90 commented on #48
Hi, @NickSadjoli

I'm getting the same error as @chyphen777  with the:
gzserver: symbol lookup error: /home/jannikgerdt/catkin_ws/devel/lib/libimage_sonar_ros_plugin.so: undefined symbol: _ZN2cv3Mat6createEiPKii

I've been trying to track down the error and linked libs accordingly, but still haven't had any luck doing so, is there any of you who have a good idea what I need to look for or could tr

[2019-11-18 15:29] EmmaShou commented on #384
I am also confused by the end of this tutorial, have you made any progress? Thanks!

[2019-11-18 15:43] TheGreatLebowski commented on #384
Hello @EmmaShou, I've find a solution, you can check my project https://github.com/TheGreatLebowski/submarine, I've write a simple documentation (Still in progress) where I've put some of the problem I got ! If you don't find what is your problem send me a message, maybe I can help you !

[2019-11-19 19:43] EmmaShou commented on #384
Hi Alexandre,

Thank you -- that's really helpful! Can I ask you another question? Have
you been able to make your submarine either follow way-points or move
according to a function? There are UUV simulator tutorials about this but
I'm having a difficult time getting those tutorials to work.

Thanks a ton,
Emma

On Mon, Nov 18, 2019 at 11:43 AM Alexandre Colon <notifications@github.com>
wrote:

[2019-11-20 12:37] TheGreatLebowski commented on #384
Hi Emma ! No I am currently working on it, when I will find a solution I will add it in my github project, but if you find something please let me know !

[2019-11-20 12:52] EmmaShou commented on #384
Thanks Alexandre!

If I find a solution I will let you know. Please let me know if you make
progress

On Wed, Nov 20, 2019 at 8:37 AM Alexandre Colon <notifications@github.com>
wrote:

[2019-11-23 06:37] zt-luo commented on #382
when i try to creat a new vehicle, `osrun uuv_assistants create_new_robot_model --robot_name rov_no1`, i got this error.

[code]
i dont know if this is related?

[2019-11-23 06:52] zt-luo opened #385 "Error, when try to creat a new vehicle"
when i run the command below,
`rosrun uuv_assistants create_new_robot_model --robot_name arms_no1`
i got this error:

[code]

[2019-11-27 07:30] JKTesla commented on #287
Hi @AkshayHinduja , thanks for your advice. I also do not know when my ubuntu 16.04's protobuf version changed from 2.6.1 to 3.3.0.

I accepted your advice to install gazebo9 from source, **but I wanted to maintain protobuf version in 3.3.0** .

I find the core of problem is ignition (the gazebo required dependencies) binaries. So I try to install ignition from source and compile them ([SDFormat…]

[2019-11-28 17:51] EmmaShou opened #386 "Path and trajectory generators: rexrov2 doesn't move"
When following along with the ["path and trajectory generator tutorial"](https://uuvsimulator.github.io/packages/uuv_simulator/docs/features/path_and_trajectory_generation/) , ****I can't get rexrov2 to move!****

 I get the following error when I run "roslaunch uuv_control_utils start_helical_trajectory.launch  uuv_name:=rexrov2 n_turns:=2"

[code]

Is anyone else having problems with the [path a

[2019-12-05 17:32] musamarcusso opened #387 "Call for maintainers"
Hello everyone,

as you might have noticed, I haven't had time to take care of the this project as before. To give some perspective, this project was born in the scope of the EU-Project SWARMs and from my research at the time. The project is over since 2017 and I have also been working with other projects since then. I really apologize for the lack of reaction of my part, I have been struggling to

[2019-12-05 18:38] davihdsantos opened #388 "USV using uuv_packages"
Hi,

Has anyone ever build a USV simulation using the uuv_simulator environment?

Im trying to add a sailboat model but im having trouble setting up the dynamics with gazebo breaking all the time, so i want some previous project to use as template..

Thanks!

[2019-12-06 10:24] dnakath commented on #385
The current uuv_assistant package seems to be broken in ROS-Melodic, resulting in

    Traceback (most recent call last):
      File "/opt/ros/melodic/lib/uuv_assistants/create_new_robot_model", line 59, in <module>
        for d in os.listdir(template_path):
    OSError: [Errno 2] No such file or directory: '/opt/ros/melodic/share/uuv_assistants/templates/robot_model'

To quick-fix, clone uuv-rep

[2019-12-06 10:27] zt-luo commented on #385
thanks

[2019-12-06 11:59] dnageo commented on #385
It looks like there is already the pull request #377 to fix this issue.

[2019-12-06 14:08] musamarcusso commented on #387
Just a small additional information for clarification: the idea is not to have a person doing all the work. The objective is to have a nice team to keep the project running and share the load of tasks to keep everything up and running :)

[2019-12-07 15:16] pxalcantara commented on #387
I can't see the e-mail that you use in the message, do you still using your gmail e-mail?

[2019-12-09 04:30] choeppler commented on #387
@pxalcantara, I'd use the e-mail address used in the commit messages' signed-off-by lines, see e.g. in commit 7577c874

[2019-12-09 13:42] pxalcantara commented on #387
@choeppler Thanks!!!

[2019-12-10 10:50] hakuturu583 commented on #387
Hi.
I am masaya kataoka and I am a software developer of OUXT Polaris.
(http://robotx.osaka/about/)
We are developing ROS2 based UUV navigation system.
We will try uuv tasks in the future, so I am interested in UUV simulator.
I want to maintain this package and enables all ROS2 users to use this package.

[2019-12-10 10:51] hakuturu583 commented on #387
my e-mail address is ms.kataoka@gmail.com

[2019-12-17 08:22] arturmiller commented on #386
With the current version of uuv_simulator it is working on my machine. Nevertheless, I was able to reproduce the error, and I think I know what you are missing. You have to run "roslaunch rexrov2_gazebo start_demo_pid_controller.launch" before "roslaunch uuv_control_utils start_helical_trajectory.launch uuv_name:=rexrov2 n_turns:=2". Maybe this could be made a little bit clearer in the tutorial.

[2019-12-20 21:30] arturmiller commented on #268
It looks like it is currently not possible to test with Python2 and 3 with ros-industrial/industrial_ci. The problem is that ROS1 has to be rebuild from scratch to support Python3. The ros-industrial guys are working to support this. Have a look at this PR: https://github.com/ros-industrial/industrial_ci/pull/429

[2020-01-13 22:41] Yifangx1 commented on #386
Hello @arturmiller ,

I'm encountering the same problem for trajectory generators. I ran the commands as follows:
1. "roslaunch uuv_gazebo_worlds empty_underwater_world.launch"
2. "roslaunch rexrov2_description upload_rexrov2.launch"
3. "roslaunch rexrov2_control start_sf_controller.launch"
4. "roslaunch rexrov2_gazebo start_demo_pid_controller.launch"
5. "roslaunch uuv_control_utils start_helical

[2020-01-14 18:06] samchamberlin commented on #108
@srmainwaring your model is looking amazing! I'm currently working on building a model of a boat rocking on the ocean surface too. I'm pretty new to Gazebo and have limited experience writing plugins. Would you be willing to share the code/plugin your using to simulate the rocking objects? Any help would be very appreciated!

[2020-01-14 18:27] srmainwaring commented on #108
@samchamberlin you can find the project here: https://github.com/srmainwaring/asv_wave_sim.

[2020-01-16 09:13] JuliusHendrix commented on #108
@srmainwaring Hey Rhys, I'm new to ROS and Gazebo, and I'm orienting myself on how to simulate a ship lowering something deep into the ocean. Lucky for me, it seems you have made a very useful package for me to use. Thanks a lot in advance! I'm not quite sure how Gazebo packages work, but do you think it would be possible to somehow combine the wave functionality of your package with the underwate

[2020-01-20 11:41] srmainwaring commented on #108
@JuliusHendrix yes I think that would be possible, but it would involve changing the way buoyancy is calculated for the UUV if you want the submersible to respond to waves when on the surface as the method used to calculate buoyancy forces is different in the two packages. If you have any questions about the wave simulation package I'll be happy to answer them on the issues section of its reposito

[2020-01-20 12:20] JuliusHendrix commented on #108
@srmainwaring Thank you, I will look into it!

[2020-01-31 12:53] eriman1 commented on #174
Hi, would you be able to share the URDF files you've made and describe how the meshes are set? I am also trying to add a usv model and it would be very helpful.
Thanks

[2020-01-31 18:12] amamory commented on #174
Please take a look at
https://github.com/disaster-robotics-proalertas/usv_sim_lsa which has lots
of feature for USV/ASV simulation, including models of boats and wind/water
current models.
In the near feature there will be COLREG compliance collision avoidance and
coverage path planning.

On Tue, Jul 2, 2019 at 10:32 AM Ramesh Chandra (Poonia) <
notifications@github.com> wrote:

[2020-02-04 08:47] eriman1 commented on #174
Unfortunately, usv_sim_lsa is only for surface vehicles. I need to use the uuv_simulator package because I also need to simulate uuv's.

[2020-03-14 11:54] dawnofclarity commented on #59
A heads up for anyone else finding this when attempting to get Gazebo working in a VMWare VM.

This combination allows partial 3d acceleration:
* Windows 7 Host
* VmWare 15.5.2 build-15785246
* Ubuntu 18.04.4 LTS
* Graphics: SVGA3D; build: RELEASE; LLVM;
* Gazebo multi-robot simulator, version 9.0.0
Before running execute
* export SVGA_VGPU10=0
(This rolls back the driver to use to an earlier vers

[2020-03-23 10:36] ETopini opened #389 "No such file or directory"
If you install the package from "sudo apt install ...." the folder "templates" is not included in uuv_assistants with the result of a "No such file or directory" (referring to "/opt/ros/melodic/lib/uuv_assistants/create_thruster_manager_configuration") when launching the thruster_manager_configuration.

[2020-03-23 10:38] #389 closed

[2020-03-26 15:48] s1887252 opened #390 "Negative GPS coordinate"
While modifying the UUV sensor plugins for a project, I have found this:

`// Copy the output of Gazebo's GPS sensor into a NavSatFix message
  this->gpsMessage.latitude = -this->gazeboGPSSensor->Latitude().Degree();
  this->gpsMessage.longitude = -this->gazeboGPSSensor->Longitude().Degree();`

what is the reason for making negative the latitude and longitude?

Thank you for your availability.

[2020-03-31 16:17] nicolaje opened #391 "GPS negative latitude / longitude"
Hello,

is there a reason as to why latitude / longitude values are negated in the GPS plugin

https://github.com/uuvsimulator/uuv_simulator/blob/41e4c14a4c3bb19801b6bc7c2c7a3633315177be/uuv_sensor_plugins/uuv_sensor_ros_plugins/src/GPSROSPlugin.cc#L78

?

[2020-03-31 16:17] nicolaje commented on #391
Oops, duplicate of https://github.com/uuvsimulator/uuv_simulator/issues/390

[2020-03-31 16:17] #391 closed

[2020-03-31 16:18] nicolaje commented on #390
I have the same remark.

[2020-04-02 09:40] s1887252 opened #392 "IMU Linear Accelerations do not work correctly"
As stated at this link (in a different context but about the same topic)

[https://answers.ros.org/question/12616/interpretation-of-imu-data-from-the-gazebo_ros_imu-plugin/](url)

the UUV IMU implementation (as far as the Linear Accelerations are concerned) is not correct.

[2020-04-17 14:00] wee-flame opened #393 "eca_a9 did not follow the waypoint path"
When I run roslaunch uuv_gazebo_worlds auv_underwater_world.launch ,Then run roslaunch eca_a9_gazebo start_demo_nmb_sm.launch .Eca_a9 did not follow the waypoint path. I want to know the reason.
Any help?

[2020-04-17 14:27] wee-flame commented on #373
I also faced the situation. when I run roslaunch eca_a9_gazebo start_demo_nmb_sm.launch .The eca_a9 did not be controlled, only floating to the surface. Have you solved this problem?

[2020-04-20 17:22] Xiaoran807 opened #394 "How to publish the value of the sliding surface in sliding mode controller"
I am working on a new project and hope to design a sliding mode controller for rexrov vehicle. I hope to see the values of different variables such as sliding surface function _s_b in rov_mb_sm_controller.py and restoring force _g in vehicle.py. I have tried to create my own topic and tried a few other things, unfortunately non of them worked. I am fairly new to robotic field.

[2020-04-20 21:00] rfm-bot opened #395 "🚧 Is this repo maintained?"
👋 The user @sospedra marked this repo in **need for maintainers**.
✅ If you're **looking for collaborators** no action is required
👮🏻‍♂️ If this repo it's **well-supported please put a comment** here https://github.com/sospedra/rfm/issues/44

[2020-04-30 06:19] wee-flame opened #396 "HOW to add multi eca_a9 in gazebo"
I try to use this launch file to load two eca_a9 in the ocean_waves world and use geomertric tracking control method to control these two eca_a9 to follow the way_point path.But there is only one eca_a9 follow the path.  Another don't move.
So I check the rviz. It shows that "eca_a9_2/base_link No transform from [eca_a9_2/base_link] to frame [world]".  Such problem can also be found in the tf_tree

[2020-04-30 07:58] wee-flame commented on #277
have you solved this problem?

[2020-05-03 10:34] wee-flame commented on #396
I solved this problem

[2020-05-03 10:34] #396 closed

[2020-05-06 15:51] jake3991 commented on #48
@NickSadjoli
First off, great work with this FLS implementation for UUV simulator, it's a huge asset for the community! I've got a couple of questions on it as I plan to make some slight changes to have the FLS match the hardware I would normally deploy to the field.

1. How can I add another sonar, for example, one looking forward and one looking aft? Looks like there is a lot of interdependence

[2020-05-12 20:33] MohitGupta007 commented on #390
Is there a reason for the negative signs?

[2020-05-12 20:52] MohitGupta007 commented on #96
Heyy,
I am working on a project where we are using this package to simulate an AUV in an underwater environment. Is there any way to have non-linear terms in the mass and damping matrix defined in URDF? For example values depending on the current velocity and angle of the bot.
Thanks in advance

[2020-05-16 16:28] HashirZahir commented on #388
I would recommend the [VRX simulator](https://github.com/osrf/vrx/) for USV simulation. It is stable and has support for many sensors including GPS, IMU, 3D lidar, cameras and has good documentation as well.

[2020-05-16 20:48] pxalcantara commented on #354
@musamarcusso I think we can close this issue, right?

[2020-05-17 18:56] pxalcantara commented on #390
@musamarcusso Can you help with this answer ?

[2020-05-17 19:07] pxalcantara commented on #388
@davihdsantos wich kind of problem you're having? could you give more details?

[2020-05-17 19:11] pxalcantara commented on #386
@Yifangx1 are you still having this problem?

[2020-05-17 19:20] pxalcantara commented on #384
@TheGreatLebowski Nice, could you, please create a PR with your new documentation? It would be very helpful to have your colaboration!

Thanks!

[2020-05-17 19:22] pxalcantara commented on #383
@TheGreatLebowski Are you still with this problem?

[2020-05-17 19:25] pxalcantara commented on #382
@musamarcusso Could you take a look on this issue?

[2020-05-17 19:41] pxalcantara commented on #372
@Sollimann wich version are you using? Could you give more details?

[2020-05-17 19:44] pxalcantara commented on #369
@musamarcusso Could you take a look ?!

[2020-05-17 19:50] pxalcantara commented on #360
@dbcesar Any update of this problem? Are you still having it?

[2020-05-19 20:39] pxalcantara commented on #347
@musamarcusso @jzhu1234 Could we close this issue?

[2020-05-19 20:48] pxalcantara commented on #328
@Timple I think we could close this issue, right?

[2020-05-19 20:54] pxalcantara commented on #323
Hi @Timple sorry for the delay of answer, is this issues still makes sense?

[2020-05-19 20:58] pxalcantara commented on #308
Hi @szat is this issue still makes sense?

[2020-05-19 21:00] pxalcantara commented on #307
Hi @KenanA17 is this questions still makes sense?

[2020-05-19 21:02] pxalcantara commented on #306
Hi @pushkalkatara is this issue still makes sense?

[2020-05-19 21:04] pxalcantara commented on #302
Hi @jzhu1234  is this issue still makes sense?

[2020-05-19 21:14] pxalcantara commented on #291
@musamarcusso  and @guystoppi I think we can close this issue, right?!

[2020-05-19 21:20] pxalcantara commented on #265
@musamarcusso I think this issues is solved, right? Could we close it?

[2020-05-19 21:22] pxalcantara commented on #246
Hi @hbaqueiro  is this issue still makes sense? Can we close it?

[2020-05-19 21:24] pxalcantara commented on #243
Hi @BeyondLeee  is this issue still makes sense?

[2020-05-19 21:33] pxalcantara commented on #207
Hi @JuanNadales  is this issue still makes sense?

[2020-05-19 21:51] pxalcantara commented on #177
Hi @sagarwal-atg I think we can close this issue right?

[2020-05-19 22:12] pxalcantara commented on #174
Hi @eriman1 are the URDF models still helpful for you ?

[2020-05-19 23:41] pxalcantara commented on #154
@musamarcusso I think we can close this issue, right?

[2020-05-20 04:41] sagarwal-atg commented on #177
Hi @pxalcantara, sure.

[2020-05-20 07:51] #328 closed

[2020-05-20 07:53] Timple commented on #323
We're pointing to the commit now I believe. But I think it is good practice to tag so people can switch easily. Would be a rather small effort? :)

[2020-05-20 11:03] #246 closed

[2020-05-21 15:05] HashirZahir commented on #396
Hi, can I check how you managed to solve this problem? I seem to be facing a similar issue of disconnected TF trees when running multiple vehicles.

[2020-05-23 17:27] #177 closed

[2020-05-23 18:56] musamarcusso commented on #302
I know this issue is really old, but simulating faster real-time, even though is possible, can lead to the system becoming very unstable. I would advise against it, it is maybe possible to find a physics engine set of parameters that may allow it, but it needs some experimentation.

[2020-05-23 18:57] #302 closed

[2020-05-23 19:00] musamarcusso commented on #394
Hi @Xiaoran807 , could you send the snippet on how you tried to publish the values?

[2020-05-23 19:06] musamarcusso commented on #392
Hi @s1887252, the IMU is adapted from the Rotors Simulator and basically reads the linear acceleration from link https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_sensor_plugins/uuv_sensor_ros_plugins/src/IMUROSPlugin.cc#L183
But I recall having problem with the linear acceleration from Gazebo using the ODE engine with the `quick` algorithm. I can try changing the default algorithm to

[2020-05-23 19:07] musamarcusso commented on #390
This was an issue raised by another user (I don't recall the issue number but I will look for it) where Gazebo's GPS sensor (for which the sensor here is a ROS wrapper) was delivering the readings with the axes flipped. I will check it again.

[2020-05-23 19:09] musamarcusso commented on #388
Hi @davihdsantos, I did include a simple implementation for buoyancy model for USVs, but the VRX Simulator is more appropriate for that kind of simulation.

[2020-05-23 22:55] HashirZahir commented on #375
Hi, this is similar to #388. I'll repeat what I said there as well.

I would recommend the [VRX Simulator](https://github.com/osrf/vrx)  for USV simulation. It is stable and has support for many sensors including GPS, IMU, 3D lidar, cameras and has good documentation as well.

[2020-05-23 23:16] HashirZahir commented on #367
Hi, you can use the pose_3d plugin macro, which publishes a nav_msgs::Odometry. As a sample, when moving forward in the simulator, I get this on the /auv/odom_ned topic:

![image](https://user-images.githubusercontent.com/17134332/82742255-567a6480-9d8e-11ea-99a5-3412767b2e8c.png)

You can see that the linear speed is at 0.18m/s.

[2020-05-24 01:09] pxalcantara commented on #334
This issue will be closed because of the lack of information!

[2020-05-24 01:09] #334 closed

[2020-05-24 01:10] #299 closed

[2020-05-24 01:44] HashirZahir opened #397 "Multi Robot TF tree broken"
Hi, I am well aware that the UUV Simulator is able to simulate multiple robots (one of its strong points). However, I have been unable to get the TF trees of the multi robot system to remain connected with a single common parent TF frame `world`.

When running `roslaunch uuv_gazebo_worlds ocean_waves.launch`, only `world` and `world_ned` are published.

![image](https://user-images.githubuserconte

[2020-05-24 01:51] HashirZahir commented on #392
I am not sure if this is related, but gazebo recently updated its plugin to report IMU orientation from world frame. I was facing some issues in my other project due to its old behaviour in terms of body orientation vs world orientation, but this pull request claims to fix it.

https://github.com/ros-simulation/gazebo_ros_pkgs/pull/1051

[2020-05-24 02:01] HashirZahir commented on #356
Hi, simply running
`roslaunch uuv_gazebo_worlds ocean_waves.launch`

followed by

`roslaunch uuv_descriptions upload_rexrov.launch`

will display the thrusters, cameras, IMU, pressure sensor, magnetometer, sonar and vehicle velocity information via the DVL (Doppler Velocity Logger). You can use RQT or RVIZ to visualize these data, or use your own ROS publishers/subscribers to manipulate the data f

[2020-05-24 02:40] HashirZahir commented on #360
Hi I cant seem to replicate this on the rexrov camera.

![rexrov_camera_demo](https://user-images.githubusercontent.com/17134332/82744400-90596400-9daa-11ea-8f5a-32a3f832a196.gif)

Rotating the vehicle in any roll or pitch does not seem to affect its view of the sea floor. Perhaps you can clarify what you meant? Also, I noticed that your AUV is below the surface sea bed in one of the screenshots,

[2020-05-24 06:57] Xiaoran807 commented on #394
I have got a way to publish the topics. I have another question not related to publishing topics. Instead of constant current, do you have plan to develop models for modelling ocean current that rotate like vortex or even turbulence? Any idea or suggestion for materials to look at this problem will also be good.

[2020-05-25 06:56] Timple opened #398 "Noetic release"
Would you mind releasing these packages also for the newest distribution ROS Noetic? :)

[2020-05-25 06:57] musamarcusso commented on #398
I'm on it ;)

[2020-05-25 07:13] Timple commented on #398
Well that is very fast! :D

[2020-05-25 09:24] dbcesar commented on #360
Hi @pxalcantara and @HashirZahir, I haven't been using the underwater simulation in my project for a while now. The current state is also that I can't easily test it. Thus, I'm going to close this issue for now and re-open it in the future in case I face this again.

Thanks for the attention

[2020-05-25 14:02] pxalcantara commented on #360
Ok @dbcesar Let's close it them !

[2020-05-25 14:02] #360 closed

[2020-05-27 20:33] pxalcantara commented on #397
Hi @HashirZahir I did not have time yet but I'll try to reproduce your error and find a solution

[2020-06-03 14:09] donvale1 opened #399 "[Question] Fossen Added Mass and Drag Matrix"
Hello,

I just wanted to verify that fossen added mass and drag matrices are in standard body coordinates (forward, right, down) vs gazebo coordinates (forward, left, up).

I looked through the HydrodynamicModel.cc - the conventions are not entirely clear to me because "this->link->RelativeLinearVel()" does not go through any rotation. If gazebo coordinates are forward, left, up, does it mean the

[2020-06-03 19:13] arturmiller commented on #398
Not all dependencies are released for noetic yet, e.g. joy and joy_teleop, needed by uuv_teleop.
https://github.com/ros-drivers/joystick_drivers/issues/170
https://github.com/ros-teleop/teleop_tools/issues/51

[2020-06-05 07:14] musamarcusso commented on #398
that is true, the first step would be to add a job on Travis so that we can check when the dependencies can be all found.

[2020-06-05 07:43] arturmiller commented on #398
I have done some experiments to update the Travis build. https://github.com/arturmiller/uuv_simulator/tree/noetic
https://travis-ci.org/github/arturmiller/uuv_simulator/jobs/693993787
It is not easy to implement that, because industrial_ci has made big changes. There are no BEFORE_SCRIPT and AFTER_SCRIPT arguments anymore and they have moved to colcon instead of catkin.
As I know catkin_tools is a

[2020-06-05 07:47] musamarcusso commented on #398
yes, I saw that they made a `legacy` version available with the old setup. I did some experiments locally on my machine here, there are a few things to check yet.

[2020-06-05 18:50] pxalcantara commented on #399
@musamarcusso could you help with this question?

[2020-06-08 15:29] jlack1987 opened #401 "Remove the printing of link properties to the console by default"
Everytime the sim is launched the hydrodynamic parameters of each link is printed to the console. For large models(mine has 30+ links) this results in a crazy amount of stuff printed to the console. I think at the very least output them as [debug](http://wiki.ros.org/roscpp/Overview/Logging) level messages so they can be disabled.

[2020-06-09 16:54] bsb808 commented on #387
@musamarcusso I apologize that I just saw this.  We are starting a new project, extending UUV Simulator and other underwater Gazebo projects: [Project Dave v1.0.0 Announcement](https://discourse.ros.org/t/underwater-robotics-simulation-project-dave-initial-release/14561).

Are you still interested in volunteer maintainers?

[2020-06-09 16:59] pxalcantara commented on #387
@bsb808 As far as I know, yes, but she can say better. I' m became a maintainer recently. It would be awesome to converge with the efforts and hands to work!!

[2020-06-09 19:03] arturmiller commented on #398
I am now able to build and test uuv_simulator with the recent industrial_ci changes:
https://github.com/arturmiller/uuv_simulator/tree/noetic
https://travis-ci.org/github/arturmiller/uuv_simulator/builds/696565670
Most changes are straightforward but, there is one issue, which requires some form of refactoring. The tests of uuv_gazebo_ros_plugins require uuv_descriptions. This results in a circula

[2020-06-09 19:14] arturmiller commented on #398
I forgot to mention. The packages joy and joy_teleop are still not available. For now, to make the travis builds succeed, I have commented these dependencies in the package.xml. Building and testing don't require them. But it is still blocking the noetic release.

[2020-06-09 19:21] arturmiller opened #402 "Factorial has been moved"
Importing factorial from scipy.misc in uuv_control/uuv_trajectory_control/src/uuv_trajectory_generator/path_generator/bezier_curve.py results in an import error with Scipy >= 1.3.0.

[2020-06-09 19:48] arturmiller opened #404 "The nightly builds on the master branch are currently failing"
Industrial_ci has changed their default branch. If we want to restore the old behavior, we have to switch to the legacy branch.
Here are the failing builds on master: https://travis-ci.org/github/uuvsimulator/uuv_simulator/branches

[2020-06-10 11:13] musamarcusso commented on #387
Hi @bsb808! Sure, the more the merrier. Could we set up a call this week to discuss this? Or could you send me a suggestion of times you are free for a call?

[2020-06-11 09:17] arturmiller commented on #387
Hello, I'm not interested in becoming a maintainer, but I could spend some time into this project the next months. I would like to help upgrading the build system and the noetic release.

[2020-06-11 09:57] arturmiller opened #406 "Circular dependency between uuv_gazebo_ros_plugins and uuv_descriptions"
The tests in uuv_gazebo_ros_plugins depend on uuv_descriptions (urdf_spawner is called in test_upload_default_fossen_vehicle.launch). However, in uuv_gazebo_ros_plugins a test_depend  for uuv_descriptions is missing. I think the reason for that is, ROS would give a circular dependency warning. This is not only in general bad, but also blocks updating this project to the recent version of industria

[2020-06-12 00:51] pxalcantara commented on #387
@arturmiller It would be nice to have your help!

[2020-06-15 17:03] #402 closed

[2020-06-23 13:56] kkokilep opened #408 "RexRov2 example won't let me use rosservice calls"
I am running the RexRov2 example and I am trying to get information about the thrusters from rosservice calls. I do:

roslaunch rexrov2_gazebo start_demo_pid_controller.launch

and then in a different terminal I do

rosservice call /rexrov2/thrusters/2/get_thruster_state

The error I get is:
ERROR: Unable to load type [uuv_gazebo_ros_plugins_msgs/GetThrusterState].
Have you typed 'make' in [uuv_ga

[2020-06-23 15:29] kkokilep commented on #408
WARNING The following node subscriptions are unconnected:
 * /gazebo:
   * /gazebo/set_link_state
   * /rexrov2/thrusters/4/input
   * /rexrov2/thrusters/5/input
   * /rexrov2/thrusters/2/input
   * /rexrov2/thrusters/0/input
   * /rexrov2/current_velocity
   * /plume/particles
   * /rexrov2/thrusters/1/input
   * /rexrov2/thrusters/3/input
   * /gazebo/set_model_state
 * /rviz:
   * /rexrov2/wayp

[2020-06-24 12:38] #408 closed, assigned to nobody

[2020-06-24 12:38] kkokilep commented on #408
I fixed by completely reinstalling ros

[2020-06-29 16:28] Joel-Lindsay commented on #397
@HashirZahir I'm also interested in this same problem. Im attempting to launch 3 Eca_a9 vehicles simultaneously in the same manner after running _roslaunch uuv_gazebo_worlds ocean_waves.launch_. I can get at most two Eca_a9 vehicles working at once -- Have you had any further progress on this issue?

[2020-07-02 00:31] HashirZahir commented on #397
Could you share the steps to replicate to get the 2 Eca_a9 vehicles running together (and their respective TF trees?) In my case I am able to spawn both vehicles in the simulation but the TF tree is broken / disconnected, making it harder to perform multi-auv calculations/algorithms

[2020-07-11 12:12] HashirZahir commented on #397
Any luck @pxalcantara ?

[2020-07-13 23:03] pxalcantara commented on #397
Sorry @HashirZahir, but not yet, I've been very busy but I'll try to check this week.

[2020-07-15 15:11] Joel-Lindsay commented on #397
Sorry for the slow response. I have a launch file for launching 3 (or more) Eca UUVs under different namespaces using the upload.launch. I use another launch file to launch the geometric tracking controller for each of the 3 vehicles. Without knowing why, this generally works for 2/3 UUVs, with the 3rd being unresponsive and broken (as you have described)... So I can control, send waypoints, echo

[2020-07-20 06:29] purvikpatel commented on #398
@arturmiller Any updates?
Can I use this repo for ROS noetic now since joy and joy_teleop are now available for ROS noetic ?

[2020-07-21 13:44] ethanjpark commented on #398
Bump. Would be very interested to know if UUV Sim is good to go (or would be good with some work on the user side when installing) on Noetic. My place is fully on Python3 and I'm currently dealing with the headache of coercing Melodic to work with Python3.

[2020-07-23 16:14] arturmiller commented on #398
Yes joy and joy_teleop are available now for noetic. catkin_tools is still not properly ported, but it can be easily installed from source with pip.
@purvikpatel I would not recommend to use my fork directly. The build is passing, but I have not done any manual testing. I am sure it wont work, as the test coverage is not very high. In addition this branch is full of "exploratory" commits, because

[2020-07-24 06:30] Timple commented on #398
Actually I think this is fixed. From ubuntu 20.04 I can simply do `sudo apt install python3-catkin-tools`

[2020-08-31 16:27] jake3991 commented on #48
@NickSadjoli
Looking to properly cite this in some upcoming work.  I will use the UUV simulator citation but are there any other works that need to be cited? Perhaps "A novel GPU-based sonar simulator for real-time applications?"

[2020-09-01 05:37] blaine141 commented on #398
Any update on the progress of this? I tried the repo @arturmiller made and it is giving me a `free(): double free detected in tcache 2` error in gazebo.

[2020-09-01 08:03] nilsbore commented on #48
@jake3991 At least my original implementation is based on the paper you're referring to. I do not know if @NickSadjoli has added any concepts from other works.

[2020-09-01 14:48] Mateus224 commented on #383
hej I m getting this error too:
[Err]  [JointControlWidget.cc:400] Error advertising topic [/data://world/default/model/box/plugin/model_push/joint_cmd]

and i cant move the box (with roslauch it works but not over gzserver/ gzclient)
I get this problem which i try to solve since 1 day. Maybe somebody can help me that is the tutorial (very short):

http://gazebosim.org/tutorials?tut=plugins_model&

[2020-09-01 16:07] romulogcerqueira commented on #48
Great job!

[2020-09-05 04:57] HashirZahir commented on #397
Has anyone managed to gain any insight on this issue? Multi-Robot capabilities of this simulator are amazing but I feel like some simple TF tree script is causing the broken TF tree, although I have not been able to find the source of the issue.

[2020-09-07 11:09] Gowresh7 opened #410 "Setting <neutrally_buoyant> to 1 sinks the model gradually"
I am simulating lauv model in gazebo 9. When I set the tag `<neutrally_buoyant>1</neutrally_buoyant>`, the lauv model gradually sinks to ground.

[2020-09-17 18:36] ethanjpark opened #411 "AUV model gradual destabilization after spawning"
Hello all,

In my recent works with UUVSim, I've noticed this stability issue. Shown below is the default eca_a9 AUV model provided in UUVSim. I have roslaunched _auv_underwater_world.launch_ or _ocean_waves.launch_ from the uuv_gazebo_worlds package, and then _upload_eca_a9.launch_ from the eca_a9_description package. Basically, I load in the world, then spawn the robot and do nothing else. This

[2020-09-18 07:57] gstavrinos commented on #411
Hello Ethan,

I am not sure if this is the cause of the problem, but I have experienced similar issues with much simpler setup (simple rovers or arms) in Gazebo due to slightly incorrect inertia/com values.

This could be a good first point of investigation.

George

[2020-09-21 07:50] Michael-Equi opened #412 "Plans for migrating to ROS2"
Are there currently any plans or interest in migrating/porting uuv simulator to ROS2?

[2020-09-21 12:13] pxalcantara commented on #412
Hi @Michael-Equi, yes there are plans to migrate. We don't know yet when exactly but we have these plans.

[2020-09-26 08:44] pawelpiskurcopy opened #413 "how to install on Windows 10"
Thank you for your work. Please could you provide some information about how to install this project on a Windows 10 platform.
Your assistance is greatly appreciated.
Paul
pawel.piskur@gmail.com

[2020-09-26 09:00] pawelpiskurcopy opened #414 "Assistance with RaspberryPi"
Hello Musamarcusso,
we would like to ask for your guidance in the installing and assistance in setting up this project on Raspberry Pi.
Thank you in advance,
Paul
pawel.piskur@gmail.com

[2020-09-29 16:53] alliWong opened #415 "Unable to launch vehicle in Quick start"
Hello,

I am following the https://uuvsimulator.github.io/quick_start/ tutorial. i was able to successfully launch the gazebo world, but I am unable to launch `roslaunch uuv_descriptions upload_rexrov.launch mode:=default x:=0 y:=0 z:=-20 `namespace:=rexrov`, having the following error
`Traceback (most recent call last):
  File "/home/allison/Workspace/AuvWs/src/uuv_simulator/uuv_descriptions/scri

[2020-09-30 20:56] LoicLiquid commented on #412
Hello @Michael-Equi
With my colleague @jpliquid, we are developing [Plankton](https://github.com/Liquid-ai/Plankton), a simulator for maritime robotics researchers.
As a first step on this project, we modified uuv_simulator to make it compatible with ROS 2 Eloquent (we will release soon a version compatible with Foxy). Feel free to look at it and test it if it answers your need, any feedback on ou

[2020-09-30 21:06] Michael-Equi commented on #412
@LoicLiquid That looks like an awesome project. I'll definitely try it out.

[2020-10-01 04:25] MakinoharaShouko opened #416 "Cannot get depth image and point cloud"
I just started trying to use `uuv_simulator` to implement some navigation on UUVs. I followed [quick start](https://uuvsimulator.github.io/quick_start/) to start the simulator with commands `roslaunch uuv_gazebo_worlds empty_underwater_world.launch` and `roslaunch uuv_descriptions upload_rexrov.launch mode:=default x:=0 y:=0 z:=-20 namespace:=rexrov`.

When I checked rostopics published, I only sa

[2020-10-02 22:17] ErinWetter commented on #397
@HashirZahir
I was having the same issue as @Joel-Lindsay with broken links with the eca_a9s. I fixed this by editing the file /eca_a9/eca_a9_description/robots/eca_a9_default.urdf.xacro.

inertial_reference_frame="$(arg inertial_reference_frame)"
was changed to:
inertial_reference_frame="world"

This fixed my tf trees which also were disconnected.

[2020-10-03 09:23] HashirZahir commented on #397
Hi, @ErinWetter do you mind sharing a picture of the connected TF tree?

[2020-10-03 14:31] ErinWetter commented on #397
Here is the top of a tf tree with 4 working eca_a9:

![Four_Eca_short](https://user-images.githubusercontent.com/22692395/94993655-f62fd680-0568-11eb-850f-509892b1e701.png)

Going down to only two vehicles we can see the base link:

![two_eca_short](https://user-images.githubusercontent.com/22692395/94993828-098f7180-056a-11eb-89a2-09dff5c5e418.png)

I haven't figured out why the frame links betwe

[2020-10-04 02:54] vSebas commented on #335
Any luck with the solution?

[2020-10-05 00:30] vSebas opened #417 "CCW or CW propellers"
Hi! I have a question regarding the use of propellers. In real world applications, the use of CCW or CW propellers could have some impact on the motion of a vehicle, but does it matter for the simulation? Thanks in advance.

[2020-10-05 12:32] Gowresh7 opened #418 "How to enable angular motion of the uuv models in Gazebo?"
I am simulating the LAUV model in gazebo with teleop through joystick. What I noticed was that the model never undergoes angular motion, i.e., It only either translates to the left or right instead of changing its heading towards the direction (Screenshot attached)
![Screenshot from 2020-10-02 19-16-28](https://user-images.githubusercontent.com/40490231/95079935-f1b81900-0734-11eb-9f68-6b43ef17da3

[2020-10-09 05:54] MakinoharaShouko commented on #413
You would need to install the corresponding ROS version on windows first
http://wiki.ros.org/Installation/Windows
I think the easiest way is to get a ubuntu virtual machine on windows to install ROS and the simulator since on windows you don't have a lot of the features Linux provides

[2020-10-11 13:51] brschettini commented on #418
Hi,

Could you kindly share you urdf?

[2020-10-12 04:23] Gowresh7 commented on #418
The following are my description files of LAUV model:-
1. base.xacro:-
`<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find uuv_descriptions)/urdf/common.urdf.xacro"/>

  <xacro:include filename="$(find uuv_sensor_ros_plugins)/urdf/sensor_snippets.xacro"/>

  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro"/>

  <

[2020-10-13 09:44] Gowresh7 commented on #418
Hi @brschettini, I hope this is what you had asked for.

[2020-10-14 22:16] glakshay opened #420 "World environment"
Hi,

I want to utilize this underwater module for a specific application in which I am required to create a custom world file. The world file will include a **tank which will be full of water** instead of the whole environment. I saw that the underwater dynamics are extracted from ros plugin in .so file so is there anything which I can do to create the desired world? Any help is appreciated.

Syst

[2020-10-15 12:44] Gowresh7 commented on #418
@brschettini Is there a way to bring in the angular motion functionality?

[2020-10-19 12:46] saeed-NA commented on #394
Hi @ Xiaoran807

Do you mind sharing the the code you tried to publish the parameters?

[2020-10-20 21:11] codymarquardt opened #421 "Simulation of USV"
I am attempting to simulate a USV in addition to the eca_a9 AUV.

I used the create_new_vehicle link provided and am able to create the USV in gazebo, but the gazebo simulation quickly hangs up and dies with the following message:

gzserver: /home/codymarquardt/catkin_ws/src/uuv_simulator/uuv_gazebo_plugins/uuv_gazebo_plugins/src/UnderwaterObjectPlugin.cc:210: virtual void gazebo::UnderwaterObject

[2020-10-30 09:54] Xiaoran807 commented on #394
Hi, I have solved the problem.

[2020-11-05 20:55] vSebas commented on #421
Hi! Master branch of [this ](https://github.com/vanttec/vanttec_uv_sim)repo has simulation of an USV. It's still a work in progress as some things don't work properly yet (don't try to run the shell script), but you can at least see the configuration used.

[2020-11-06 22:29] jzhu1234 opened #422 "Launching a Static RexROV Model or Sensors"
Hi, I'm trying to launch the RexROV model in a fixed position by setting the model to be static. I really just need the sensors to be in a specific location, but I'm having trouble spawning the ROV as a static model. What do I need to change to make it static?

[2020-11-09 11:38] Timple commented on #398
catkin tools is operational in Noetic now.
Is someone willing to release this for Noetic? :slightly_smiling_face:

[2020-11-20 10:17] witignite commented on #48
@nilsbore I'm trying to understand your implementation and the image formation of the imaging sonar. Could you point me to the equations that were used to implement [`ConstructSonarImage`](https://github.com/uuvsimulator/uuv_simulator/blob/bfb40cb153684a0703173117b6bbf4258e8e71c5/uuv_sensor_plugins/uuv_sensor_ros_plugins/src/gazebo_ros_image_sonar.cpp#L707) and [`ConstructScanImage`](https://githu

[2020-11-20 10:39] nilsbore commented on #48
@witignite This code is from quite some time ago and I don't remember exactly where I got those equations. In honesty, the focus when implementing this was more on creating a realistic-looking image rather than a completely correct sonar model. A good start is probably to look at the paper that @jake3991 referenced.

[2020-11-23 20:52] glakshay opened #424 "keyboard velocity operation"
Hi, I am trying to use `key_board_velocity.launch` to control the vehicle but the this doesn't move the vehicle and the keys pressed do not immediately correspond to the terminal window (that is slow to take in input commands). I am using the following commands in order:

1. **`roslaunch uuv_gazebo_worlds empty_underwater_world.launch`**
2. **`roslaunch uuv_descriptions upload_rexrov.launch mode:=

[2020-11-26 06:50] CraigWang1 opened #425 "UUV is frozen at spawn"
Hi,

I have run into this odd issue lately; sometimes, around 50% of the time, my robot will spawn in Gazebo, but it is stuck and unable to move. It also appears that for some reason the thrusters have not spawned in for some reason, and I am very puzzled.

Even when I publish thrust messages to thruster topics such as `/uuv/thrusters/0/input` it does not move the robot, whereas when it spawns nor

[2020-11-30 08:22] my-name-is-D commented on #398
you are doing an amazing job! I thanks this actual release: https://github.com/uuvsimulator/uuv_simulator/pull/423/commits/66474bd3648f9fa2d0cf1d42e153ee08f3d3da7e#diff-71b515d752a471114f16806cd6bf541d62e8d81e79f4fbce6325c45613561015
for adapting the melodic version of uuv to noetic, can't wait for the official release. You are awesome.
 (posting this here for those trying desperately to make it w

[2020-12-07 05:32] MakinoharaShouko commented on #424
I tried to reproduce the problem you encountered and it did not work. I found that there was an error complaining that the node with the type `vehicle_keyboard_teleop.py` could not be found. It seems like there was a line missing in the `/uuv_teleop/CMakeList.txt`. You can try to add a line `scripts/vehicle_keyboard_teleop.py` into the `catkin_install_python` part and do `catkin build` then see if

[2020-12-07 05:34] #420 closed, assigned to nobody

[2020-12-07 05:37] glakshay commented on #424
Thanks, i will try. Did it work for you then ?

[2020-12-07 05:39] MakinoharaShouko commented on #424
Yeah, I solved the problem on my computer by adding the line, but I am not sure if it will fix everything for you.

[2020-12-07 06:04] MakinoharaShouko commented on #425
Is there some way to reproduce this problem? It is hard to guess why just from the description.

[2020-12-07 06:31] CraigWang1 commented on #425
@MakinoharaShouko Thank you very much for the response. I checked with a fellow team member and he said that it did not crash on his end, which leads me to believe that this occurs because my personal laptop hardware sometimes cannot handle the Gazebo load. For reproducing the problem, I suspect this is the issue, so I think I can close this issue. Though, I'm curious to see if there's anything th

[2020-12-08 01:36] CraigWang1 commented on #425
After searching online, it seems that this has fixed my issue:

In snippets.xacro, I changed
[code]
to
[code]
I also made sure that my inertia values for my robot in base.xacro were also at least 0.001, and for some reason it works!
Closing this issue.

[2020-12-08 01:36] #425 closed, assigned to nobody

[2020-12-08 01:38] glakshay opened #426 "Thrusters color"
Hi, I wanted to make the color of thrusters invisible/similar to water. I tried to add the material property in rexrov_actuators.xacro but the gazebo still fails to loads the color. Can anyone help me in this regards?

Thanks

[2020-12-21 17:33] #388 closed

[2021-01-24 07:27] amaarquadri commented on #398
Hey everyone. Until there is an official release for noetic, does anyone have a working fork of the repo or a set of instructions that can be used to install it? Appreciate all the awesome work being done here!